@mixin help {
	.container-wrapper {
		padding: 25px 0 0 0;
		.header {
			float: left;
			width: 300px;
			vertical-align: top;
			margin: 0 50px 0 0;
			ul {
				li {
					a {
						border-bottom: 1px solid #f2f2f2;
						padding: 13px 30px 13px 8px;
						color: #4D6AA8;
						text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
						display: block;
						font-size: 15px;
						font-weight: 400;
						&:hover {
							background: #e9eaed;
						}
					}
				}
			}
		}
		.content {
			overflow: hidden;
		}
	}
}