<% content_for :id, "container-signin" %>

<div class="session-form session-form-green cb-signin">
  <div class="wrapper">
    <div class="title">
      <span>Connection à mon compte</span>
    </div>
    <%= render "form" %>
  </div>
</div>