
# docker-compose exec app rake db:create
# https://gist.github.com/erdostom/5dd400cbba17d44b52b2f74b038fcb85

version: '3.7'

services:
  app:
    image: nkcr/resj:v1
    build:
      context: .
    command: ["spring", "server"]
    environment:
      - POSTGRES_HOST=pg
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret
      - RAILS_ENV
    volumes:
      - ./:/usr/src/app
      - gems:/usr/local/bundle
      - node-modules:/usr/src/app/node_modules
      - ${HOME}/.irbrc:/root/.irbrc
      - ${HOME}/.irb-history:/root/.irb-history

  web:
    image: nkcr/resj:v1
    command: ["bundle", "exec", "rails", "s", "-b", "0.0.0.0"]
    environment:
      - POSTGRES_HOST=pg
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret
      - RAILS_ENV
    volumes:
      - ./:/usr/src/app
      - gems:/usr/local/bundle
      - node-modules:/usr/src/app/node_modules
    ports:
      - 3000:3000

  pg:
    image: postgres:11.2-alpine
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret

  webpacker:
    image: nkcr/resj:v1
    command: ./bin/webpack-dev-server --color
    volumes:
      - ./:/usr/src/app
      - gems:/usr/local/bundle
      - node-modules:/usr/src/app/node_modules
    ports:
      - 3035:3035


volumes:
  gems:
  node-modules:

# version: '3.0'
# services:
#   db:
#     image: postgres:10
#     ports:
#       - 5432:5432
#     environment:
#       POSTGRES_PASSWORD: ${DB_USER_PASSWORD}

#   webpacker:
#     image: nkcr/resj:v1
#     command: ["./scripts/start_webpack_dev.sh"]
#     volumes:
#       - .:/opt/dockerrailsdemo:cached
#     ports:
#       - 3035:3035

#   web:
#     image: nkcr/resj:v1
#     build:
#       context: .
#       args:
#         precompileassets: 'not'
#     links:
#       - db
#       - webpacker
#     ports:
#       - 3000:3000
#     command: ["./scripts/wait-for-it.sh", "db:5432", "--", "./scripts/start_rails.sh"]
#     volumes:
#       - .:/opt/dockerrailsdemo:cached