<% to_layout("Demande d'affiliation", "Du mouvement sur Réseau Jeunesse") %>

<p>Bonjour <%= @name %>,</p><p>Le <%= @type %> <%= @gname %> souhaite que vous rejoigniez son groupe. Vous pouvez accepter cette demande à partir de votre profil.</p>
<p><a href="https://reseaujeunesse.ch/profile">https://reseaujeunesse.ch/profile</a></p>
<p>A bientôt sur le réseau !</p>
