<p>Pour confirmer votre compte veuillez suivre le lien suivant:</p>
<%= render "mailers/button_center" do %>
  <%= link_to "Confirmer mon compte", @url, "_target"=>"_blank" %>
<% end %>
<p>Vous recevez cet email car un nouveau compte associé à cet email à été créé sur reseaujeunesse.ch.
Vous pouvez ignorer cet email si vous n'êtes pas à l'origine de la demande.</p>
<p>Si le bouton ne fonctionne pas, copier/coller le lien suivant dans un navigateur:<br>
<%= link_to @url, @url, "_target"=>"_blank" %>
</p>