<% to_layout("Votre sompte sur réseau jeunesse", "Vous avez besoin de confirmer votre adresse email") %>

<p>Bonjour <%= @name %>,</p>
<p>Pour finaliser votre inscription, vous devez confirmer votre adresse email en cliquant sur ce lien:<br>
<%= link_to "activer", @url %></p>
<p>Si vous n'êtes pas à l'origine de cette action, vous pouvez ignorer cet email.</p>
<p>Si vous avez des questions ou remarques, n'hésitez pas à répondre à cet email.</p>
<p>A bientôt sur le réseau !</p>
