<% to_layout("Demande d'affiliation acceptée", "Du mouvement sur Réseau Jeunesse") %>

<p>Bonjour <%= @name %>,</p>
<p>Votre demande d'affiliation pour <i> <%= @type %> <%= @gname %> </i> a été acceptée. Si ce n'était pas le cas avant, votre compte à désormait accès aux ressources du site.</p>
<p><a href="https://reseaujeunesse.ch/profile">https://reseaujeunesse.ch/profile</a></p>
<p>A bientôt sur le réseau !</p>
