<% to_layout("Vous avez reçu une invitation", "Vos talents d'orateur sont précieux") %>

<p><%= @full_name %> vous invite à rejoindre le réseau jeunesse pour encore mieux servir à travers la suisse romande.</br>
  En vous inscrivant, vous pouvez compléter notre liste existante d'orateurs. C'est une ressource très précieuse parmis les leaders jeunesse.</p>
<p>Pour vous inscrire, vous pouvez utiliser le lien suivant, il sera actif pendant un mois :<br>
  https://reseaujeunesse.ch<%= @link %></p>
<p>Besoin de plus d'infos? N'hésitez pas à répondre à cet email ou contacter un membre du comité <a href="https://reseaujeunesse.ch/resj">ici</a>.
<p>A bientôt sur le réseau !</p>
<p><img src="https://storage.googleapis.com/reseaujeunesse-ch/my-assets/images/miscellaneous/emails/1/orators.jpg"></p>
