<% content_for :prehead, "Confirmation du votre inscription orateur sur Réseau Jeunesse" %>

<h1>Confirmation de votre inscription</h1>

<p>Merci d'avoir rejoint le réseau des orateurs sur Réseau Jeunesse.</p>

<p>Vous consultez et modifier votre profil en tout temps en vous connectant sur le site.</p>

<%= render "mailers/button_center" do %>
  <%= link_to "Mon profil", profile_url, target: "_blank" %>
<% end %>