<% to_layout("Réinitialisation de votre mot de passe") %>

<p>Bonjour <%= @name %>,</p>
<p>Pour réinitialiser votre mot de passe veuillez cliquer sur le lien suivant et suivre les instructions :<br>
<%= link_to @url, @url %></p>
<p>A bientôt sur le réseau !</p>
