<% content_for :prehead, "Réinitialisation du mot de passe sur Réseau Jeunesse" %>

<p>Pour modifier votre mot de passe veuillez suivre le lien suivant:</p>
<%= render "mailers/button_center" do %>
  <%= link_to "Réinitialiser", edit_users_password_reset_url(@user.reset_token), "target"=> "_blank" %>
<% end %>
<p>Vous recevez cet email car une demande pour ré-initialiser le mot de passe du compte de "<%= "#{@user.firstname} #{@user.lastname}" %>" sur reseaujeunesse.ch a été formulée.
Vous pouvez ignorer cet email si vous n'êtes pas à l'origine de la demande.</p>
<p>Si le bouton ne fonctionne pas, copier/coller le lien suivant dans un navigateur:<br>
<%= link_to edit_users_password_reset_url(@user.reset_token), edit_users_password_reset_url(@user.reset_token), "target"=> "_blank" %>
</p>