<% to_layout("Demande d'affiliation refusée", "Du mouvement sur Réseau Jeunesse") %>

<p>Bonjour <%= @name %>,</p>
<p>Votre demande d'affiliation pour <i> <%= @type %> <%= @gname %> </i> a été refusée par son propriétaire.</p>
<p><a href="https://reseaujeunesse.ch/profile">https://reseaujeunesse.ch/profile</a></p>
<p>A bientôt sur le réseau !</p>
