@import 'partials/partial_top';

#container.about {
	.top {
		@include top;
		h1 {
			@include h1;
		}
	}
	.main {
		text-align: center;
		.content {
			display: inline-block;
			text-align: left;
			.icon {
				text-align: center;
				font-size: 40px;
				padding: 30px 0 20px 0;
				color: #FFA500;
			}
			.mail {
				text-align: center;
			}
			.addr {
				font-size: 14px;
			}
		}
	}

}
