#container.developer {
	line-height: 25px;
	.deco {
		text-align: center;
		padding: 70px 0 10px 0;
		i {
			font-size: 110px;
		}
	}
	p {
		padding: 0 0 15px 0;
	}
	ul {
		li {
			background: image-url('layout/bullet.svg') no-repeat 3px 10px;
			background-size: 7px;
			padding: 0 0 0 25px;
		}
	}
	.img {
		text-align: center;
		img {
			padding: 20px;
			vertical-align: middle;
		}
	}
}