@import 'partials/partial_top';
@import 'partials/title_large';

#banner.home {
	display: block;
	width: 100%; min-height: 473px;
	background: image-url('layout/banner.jpg') fixed center 25px;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
	.content_banner {
		width: 1200px;
		margin: auto;
		.marketing {
			float: left;
			width: 499px;
			padding: 100px 10px 0 0;

			h2 {
				text-align: left;
				color: #fff;
				padding: 13px 20px 25px 20px;
				background: image-url('layout/feat-slider-bg.png');
				font-size: 30px;
			}
			.btn {
				padding: 20px 0 0 0;
				a {
					background: #d84418;
					width: 160px;
					padding: 8px;
					color: #fff;
					cursor: pointer;
					font-size: 18px;
					position: relative;
					&:hover {
						background: #e54040;
					}
				}
			}
		}
		.video {
			text-align: center;
			float: right;
			position: relative;
			&:hover .download {
				display: block;
			}
			#player {
				width: 700px;
				height: 400px;
				padding: 58px 0 0 10px;
			}
			.download {
				position: absolute;
				right: 0px;
				font-size: 12px;
				padding: 0 10px;
				background: rgba(255, 255, 255, 0.3);
				display: none;
			}
		}
	}
}

#container.home {
	.top {
		@include top;
		h2 {
			@include h1;
		}
	}

	.new {
		margin: 15px 0;
		@include title-large;
		.left {
			float: left;
			width: 50%;
			padding: 10px 5px 10px 0;
		}
		.right {
			float: right;
			width: 50%;
			padding: 10px 0 10px 5px;
		}
		.block {
			.wrapper {
				position: relative;
				background: #eaeaea;
				padding: 20px;
				.type {
					position: absolute;
					right: 10px;
					top: 7px;
					color: #555;
					font-size: 12px;
				}
				.graphic {
					overflow: hidden;
					float: left;
					width: 30%;
					img {
						max-height: 200px;
					}
				}
				.text {
					float: right;
					width: 70%;
					padding: 0 0 0 10px;
					vertical-align: top;
					line-height: 20px;
					&.full {
						width: 100%;
					}
					h3 {
						padding: 10px 0px;
						font: 300 22px 'jura', tahoma;
						color: #555;
					}
				}
			}
		}
		.clear {
			clear: both;
		}
	}

	.map {
		@include title-large;

		#map {
			position: absolute;
			margin: 10px 0 0 0;
			left:0;
			width: 100%; height: 600px;
			&:before, &:after {clear:both;}
		}
		#clear_map {
			height: 610px;
		}
		.clear {
			clear: both;
		}
	}

}

.charts {
	text-align: center;
	padding: 0 0 20px 0;
	.chart {
		position: relative;
		display: inline-block;
		padding: 0 0 10px 0;
		width: 130px;
		vertical-align: top;
		a.link {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 10;
		}
		.easy-chart {
			position: relative;
			display: inline-block;
			width: 110px;
			height: 110px;
			span {
				display: inline-block;
				line-height: 110px;
				&:after {
					//content: '%';
				}
			}
			canvas {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}