@import 'partial_top';
@mixin h2title {
	padding: 0 10px;
	.wrapper {
		position: relative;
		z-index: 10;
		background: #eaeaea;
		padding: 0px 0 0 10px;
		h2 {
			font-size: 27px;
			float: left;
			width: 40%;
			text-align: left;
		}
		span {
			vertical-align: middle;
			float: right;
			width: 60%;
			text-align: right;
			padding: 16px 113px 0 0;
			a {
				margin: 0 0 0 30px;
				background: #d84418;
				color: #fff;
				font-weight: 400;
				position: absolute;
				top: 0; right: 0;
				float: right;
				padding: 16px 10px 0 0;
				height: 47px;
				&:hover {
					background: #e54040;
				}
				&:before {
					content: '';
			    position: absolute;
			    top: 0;
			    left: -40px;
			    width: 0;
					height: 0;
					border-top: 47px solid #d84418;
					border-left: 40px solid transparent;
					z-index: -10;
				}
				&:hover:before {
					border-top: 47px solid #e54040;
				}
			}
		}
	}	
}

#banner.home {
	display: block;
	width: 100%; min-height: 473px;
	background: image-url('layout/banner.jpg') no-repeat fixed top center;
	.content_banner {
		width: 1200px;
		margin: auto;
		.marketing {
			float: left;
			width: 500px;
			padding: 100px 10px 0 0;

			h2 {
				text-align: left;
				color: #fff;
				padding: 13px 20px 25px 20px;
				background: image-url('layout/feat-slider-bg.png');
				font-size: 30px;
			}
			.btn {
				padding: 20px 0 0 0;
				a {
					background: #d84418;
					width: 160px;
					padding: 8px;
					color: #fff;
					cursor: pointer;
					font-size: 18px;
					&:hover {
						background: #e54040;
					}
				}
			}
		}
		.video {
			text-align: center;
			float: right;
			width: 700px;
			height: 400px;
			padding: 58px 0 0 10px;
		}
	}
}

#container.home {
	.top {
		@include top;
		h2 {
			@include h1;
		}
	}

	.intro {
		color: #333233;
		text-align: center;
		line-height: 23px;
		font-size: 15px;
		.left {
			display: inline-block;
			width: 279px;
			vertical-align: top;
			padding: 10px 10px;
			text-align: right;
		}
		.right {
			display: inline-block;
			width: 278px;
			vertical-align: top;
			padding: 10px 10px;
			text-align: left;
		}
		.shade {
			color: #e8681d;
			text-shadow: 2px 1px 0px #fff, 3px 2px 0px rgba(0,0,0,0.15);
		}
	}

	.new {
		margin: 15px 0;
		.left {
			float: left;
			width: 50%;
		}
		.right {
			float: right;
			width: 50%;
		}
		.title {
			@include h2title;
		}
		.block {
			padding: 10px;
			.wrapper {
				position: relative;
				background: #eaeaea;
				padding: 20px;
				.type {
					position: absolute;
					right: 10px;
					top: 7px;
					color: #555;
					font-size: 12px;
				}
				.graphic {
					float: left;
					width: 30%;
					img {
						width: 100%;
					}
				}
				.text {
					float: right;
					width: 70%;
					padding: 0 0 0 10px;
					vertical-align: top;
					line-height: 20px;
					&.full {
						width: 100%;
					}
					h3 {
						padding: 10px 0px;
						font: 300 22px 'jura', tahoma;
						color: #555;
					}
				}
			}
		}
		.clear {
			clear: both;
		}
	}

	.map {
		.title {
			@include h2title;
			margin: 0 0 10px 0;
		}
		#map {
			position: absolute;
			left:0;
			width: 100%; height: 600px;
			&:before, &:after {clear:both;}
		}
		#clear_map {
			height: 610px;
		}
		.clear {
			clear: both;
		}
	}

}

.charts {
	text-align: center;
	padding: 0 0 20px 0;
	.chart {
		display: inline-block;
		padding: 0 0 10px 0;
		width: 130px;
		vertical-align: top;
		.easy-chart {
			position: relative;
			display: inline-block;
			width: 110px;
			height: 110px;
			span {
				display: inline-block;
				line-height: 110px;
				&:after {
					//content: '%';
				}
			}
			canvas {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}