@import 'partials/partial_top';

#container.resj {
	.top {
		@include top;
		h1 {
			@include h1;
		}
	}

	.block {
		margin: auto;

		h2 {
			padding: 40px 0 10px 0;
			font-family: "Raleway", Helvetica, sans-serif;
			font-weight: 200;
		}
		ul {
			text-align: center;
		}

		p {
			overflow: hidden;
		}

		&.team {
			line-height: 20px;
			.member {
				display: inline-block;
				.img {
					float: left;
					vertical-align: middle;
					padding: 10px;
					border-radius: 74px;
					width: 124px;
					height: 124px;
					overflow: hidden;
					// ------
					-webkit-transition-duration: 0.8s;
			    -moz-transition-duration: 0.8s;
			    -o-transition-duration: 0.8s;
			    transition-duration: 0.8s;
					-webkit-transition-property: -webkit-transform;
					-moz-transition-property: -moz-transform;
					-o-transition-property: -o-transform;
					transition-property: transform;
					&:hover {
						-webkit-transform:rotate(360deg);
				    -moz-transform:rotate(360deg); 
				    -o-transform:rotate(360deg);
					}
				}
				.infos {
					text-align: left;
					padding: 20px;
					overflow: auto;
					.name {
						font-weight: 400;
					}
					ul {
						padding: 10px 0 0 0;
						li {
							text-align: left;
							.field {
								font-size: 12px;
								font-weight: bold;
								padding: 0 3px 0 0;
							}
						}
					}
				}
			}
		} // team
	} // block
}