@import 'partial_top';

#container.resj {
	.top {
		@include top;
		h1 {
			@include h1;
		}
	}

	.block {
		margin: auto;

		h2 {
			padding: 40px 0 10px 0;
			font-family: "Raleway", Helvetica, sans-serif;
			font-weight: 200;
		}
		ul {
			text-align: center;
		}

		p {
			overflow: hidden;
		}

		&.team {
			line-height: 20px;
			.member {
				display: inline-block;
				img {
					float: left;
					vertical-align: middle;
					padding: 10px;
					border-radius: 35px;
				}
				.infos {
					text-align: left;
					padding: 20px;
					overflow: auto;
					.name {
						font-weight: 400;
					}
					ul {
						padding: 10px 0 0 0;
						li {
							text-align: left;
							.field {
								font-size: 12px;
								font-weight: bold;
								padding: 0 3px 0 0;
							}
						}
					}
				}
			}
		} // team
	} // block
}