// TODO: placed here by khcr for the cards list

div.cards-index {
  div.cards-search {
    div.search {
      input {
        padding: 10px 15px;
      }
    }

    div.filter-btn-holder {
      padding: 20px 0;
      span {
        cursor: pointer;
        background: lightblue;
        padding: 7px 5px;
      }
    }

    div.text-boxes {
      display: flex;
      flex-direction: row;

      div.box-wrapper {
        padding: 0 10px 0 0;
      }
    }

    div.cards-list {
      table {
        width: 100%;
        padding: 20px 0;

        tr:nth-child(even) {
          background-color: #f6f6f6;
        }

        td {
          padding: 5px;
        }
      }
    }
  }

  .number.current {
    color: red;
  }
}
