<% to_layout("Demande d'affiliation acceptée", "Du mouvement sur Réseau Jeunesse") %>

<p>Bonjour <%= @uname %>,</p>
<p><%= "#{@firstname} #{@lastname}" %> est désormais affilié à votre <%= @type %> <i><%= @gname %></i>
  en tant que responsable ou co-responsable (sur votre demande). </p>
<p><a href="http://reseaujeunesse.ch/profile">http://reseaujeunesse.ch/profile</a></p>
<p>A bientôt sur le réseau !</p>
