<h1>Tu as reçu la responsabilité d'un groupe sur Réseau Jeunesse</h1>

<p>Tu as reçu le groupe <%= @card.name %> de la part de l'utilisateur <%= @user.firstname %> <%= @user.lastname %>.</p>
<p>Tu peux dès à présent te connecter sur <a href="https://reseaujeunesse.ch" target="_blank">reseaujeunesse.ch</a> pour voir le groupe et le mettre à jour.</p>