<% to_layout("Votre responsable vous a mentionné", "Du mouvement sur Réseau Jeunesse") %>

<p>Bonjour,</p>
<p>Votre responsable <%= "#{@firstname} #{@lastname}" %> à inscrit votre <%= @type %> <i><%= @gname %></i>
  sur le réseau jeunesse et vous a mentionné comme étant co-responsable ou responsable.<br>
  Le fait d'être affilié vous permet de vous créer un compte ayant accès à toutes
  les ressources du site.
  <br>Si vous le désirez, vous pouvez vous rendre <a href="https://reseaujeunesse.ch/inscription">
    ici</a>, vous enregistrer avec la même adresse email et profiter de tous les avantages.</p>
<p>A bientôt sur le réseau !</p>
