<% to_layout("Demande d'affiliation acceptée", "Du mouvement sur Réseau Jeunesse") %>

<p>Bonjour <%= @uname %>,</p>
<p>Suite à votre demande, <%= "#{@firstname} #{@lastname}" %> n'a pas désiré s'affilier à votre <%= @type %> <i><%= @gname %></i>
  en tant que responsable ou co-responsable. </p>
<p><a href="http://reseaujeunesse.ch/profile">http://reseaujeunesse.ch/profile</a></p>
<p>A bientôt sur le réseau !</p>
