<p><span class="num">11</span> Avez-vous un <span class="b">site web</span>? (optionnel)</p>
<%= f.text_field :website, placeholder: "http://mon-groupe.ch (optionnel)" %>

<p><span class="num">12</span> Possédez-vous une <span class="b">affiliation</span> avec une église, un mouvement? (optionnel)</p>
<%= f.text_area :affiliation, placeholder: 'Eglise évangélique de ... (optionnel)' %>

<p><span class="num">13</span> Ici, vous pouvez aidez le moteur de recherche avec maximum 5 <span class="b">tags</span>. Mettez des mots-clefs qui vous identifient le plus (évangélisation, camps, louage, ...) séparés par un espace. (optionnel)</p>
<%= f.text_field :tag_names, class: "selectize-tags" %>