<div>  

  <p>Général</p>

  <p>Nom</p><p data-target="cards--confirmation.general"></p>
  <p>Description</p><p data-target="cards--confirmation.general"></p>
  <p>Catégorie</p><p data-target="cards--confirmation.general"></p>
  <p>Réseau régional</p><p data-target="cards--confirmation.general"></p>

  <p>Lieu</p>

  <p>Adresse</p><p data-target="cards--confirmation.location"></p>
  <p>Ville</p><p data-target="cards--confirmation.location"></p>
  <p>Lieu de rencontre</p><p data-target="cards--confirmation.location"></p>

  <p>Extra</p>

  <p>Site web</p><p data-target="cards--confirmation.extra"></p>
  <p>Affiliations</p><p data-target="cards--confirmation.extra"></p>
  <p>Tags</p><p data-target="cards--confirmation.extra"></p>

  <%= link_to "Envoyer", confirm_cards_wizard_path(0), method: :patch %>

</div>