<div data-controller="cards--form" data-cards--form-step="general">

  <h1>Enregistrer un nouveau groupe</h1>
  
  <%= form_with model: @card, url: cards_wizard_path, data: { target: "cards--form.form" } do |f| %>

    <%= render "cards/wizards/general_step", f: f %>
    <%= render "cards/wizards/location_step", f: f %>
    <%= render "cards/wizards/extra_step", f: f %>

    <button type="button" class="nav previous" data-action="cards--form#previous" data-target="cards--form.previous">Revenir en arrière</button>
    <button type="button" class="nav next" data-action="cards--form#next" data-target="cards--form.next">Prochaine étape</button>
    <button type="button" class="nav final" data-action="cards--form#confirmation" data-target="cards--form.confirmation">Aller à la confirmation</button>

  <% end %>

</div>