<% content_for :prehead, "Un groupe est désactivé sur Réseau Jeunesse" %>

<h1>Le groupe: <%= @card.name %></h1>

<p>... est désormait désactivé.</p>

<%= render "mailers/button_center" do %>
  <%= link_to "Voir le groupe", edit_admin_card_url(@card), target: "_blank" %>
<% end %>