<% content_for :id, "container-users-new" %>

<div class="session-form session-form-green cb-signup">
  <div class="wrapper">
    <div class="title">
      <span>Création de compte</span>
    </div>
    <%= render "form", record: @user, url: users_path %>
  </div>
</div>