<div class="col split2">
	<div class="block">
		<div class="header">
			<h2>Votre compte sur ResJ</h2>
			<h3>Bienvenue dans votre zone admin</h3>
		</div>
		<ul>
			<li>
				Kocher Noémien <span class="settings push-right foundicong-settings"></span>
			</li>
			<li>
				Groupe <span class="settings push-right foundicong-settings"></span>
			</li>
			<li>
				Avatar <span class="settings push-right foundicong-settings"></span>
			</li>
		</ul>
	</div>
</div>