<div class="col split2">
	<div class="block">
		<div class="header">
			<h2>Votre compte sur ResJ</h2>
			<h5>Bienvenue dans votre zone admin</h5>
		</div>
		<ul>
			<li>
				Kocher Noémien <%= link_to '<span class="settings push-right fi-widget"></span>'.html_safe, user_edit_path %>
			</li>
			<li>
				Groupe <span class="settings push-right fi-widget"></span>
			</li>
			<li>
				Avatar <span class="settings push-right fi-widget"></span>
			</li>
		</ul>
	</div>
</div>