<% content_for :banH, '0' %>
<% content_for :banI, '' %>
<% content_for :id, 'about' %>

<div class="top">
	<h1>Le comité ResJ</h1>
</div>

<div class="intro">
	<%= image_tag "about/logo.png" %>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet leo vitae tortor condimentum pharetra. Etiam mattis, tortor non posuere condimentum, lectus dolor volutpat augue, sed viverra elit odio id felis. Proin tristique ante eget leo faucibus pulvinar. Nam at posuere ipsum, ut placerat nulla. Fusce laoreet tellus erat, non tempor diam convallis non. Etiam eu nulla vitae nulla pulvinar iaculis ac id nunc.
	</p>
</div>

<div class="clear"></div>

<div class="block">
	<h2>Vision</h2>
	<i class="fi-star"></i>
	<p>
		Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam auctor quam diam, sed tempor tortor pharetra sed. Phasellus rutrum ultricies orci. In a egestas odio, sed lobortis nisi. Donec in augue at orci pharetra varius. Mauris non consequat dui. Nunc venenatis, est quis accumsan sollicitudin, ligula nibh aliquet erat, sed posuere ante sem et nibh.
	</p>
	<ul>
		<li> - Lorem ipsum dolor sit</li>
		<li> - Amet etsi elgaro setma is</li>
		<li> - Saled meda elicor odio</li>
	</ul>
</div>

<div class="block team">
	<h2>Le comité</h2>
	<ul>
		<li>
			<%= image_tag "about/avatar.png" %>
			<div>
				<span class="name">Bernard Pivot</span><br> Lorem ipsum dolor site. Amet un aguae ruturum elsita. In a egastera diam torquent per conubia.
			</div>
		</li>
		<li>
			<%= image_tag "about/avatar.png" %>
			<div>
				<span class="name">Jean Dupond</span><br> In a egestas odio, sed lobortis nisi.
			</div>
		</li>
		<li>
			<%= image_tag "about/avatar.png" %>
			<div>
				<span class="name">Elyne Hayoz</span><br> Etiam mattis, tortor non posuere condimentum, lectus dolor volutpat augue, sed viverra elit odio id felis. Proin tristique ante eget leo faucibus pulvinar.
			</div>
		</li>
	</ul>
</div>

<div class="clear"></div>