<% content_for :id, 'about' %>

<div class="top">
	<h1>Contact</h1>
</div>

<div class="content">
	<p>Email<br> 
		infos@resj.ch
	</p>

	<p>Adresse postale<br>
		Mention Réseau Jeunesse<br>
		Réseau évangélique Suisse<br>
		Route des brassens 34<br>
		2000 Bern<br>
	</p>
</div>

