<% content_for :id, 'about' %>

<div class="top">
	<h1>Contact</h1>
</div>

<div class="main">
	<div class="content">
		<p class="icon"><i class="fi-mail"></i></p>
		<p class="mail"><a href="mailto:info@resj.ch">info@resj.ch</a></p>
		<p class="icon"><i class="fi-home"></i></p>
		<p class="addr">
			Mention: Réseau Jeunesse<br>
			Réseau évangélique Suisse (RES)<br>
			Case postale 23<br>
			1211 Genève 8<br>
		</p>
	</div>
</div>