<% content_for :id, 'developer' %>

<h4>Développeurs</h4>
<p>
	Nous avons à coeur de développer un réseau de qualité.
</p>
<p>
	Notre architecture utilise le framework <a href="http://rubyonrails.org/">ruby on rails</a>, basé entièrement sur une architecture MVC.<br>
	Les sources du projet sont disponibles sur github :
</p>
<div class="deco">
	<i class="fi-social-github"></i><br>
	<a href="https://github.com/khcr/resj" target="_blank">github.com/khcr/resj</a>
</div>

<p>
