<% content_for :banI, 'layout/banner2.jpg' %>
<% content_for :id, 'home' %>
	<%#= @page.content.html_safe %>
<h2>Le réseau, c'est vous!</h2>
<div class="intro">
	<div class="left">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in turpis id mi viverra suscipit nec ut lectus. Donec volutpat magna sit amet pulvinar placerat.
	</div>
	<div class="right">
		Phasellus non viverra turpis. Vivamus massa diam, dapibus id dolor sagittis, lacinia cursus arcu. Maecenas vitae varius sapien.
	</div>
<%= render 'map' %>