<% content_for :id, "home" %>

<h1>Bienvenue sur le réseau - Trouve <span>un groupe de jeunes</span></h1>

<%= render "cards/map" %>

<div class="orator">
  <h2>Une ressource unique</h2>

  <p class="intro">Profitez de la base de donnée pour trouver vos intervenants. Cherchez par thèmes, régions, nom et trouvez les personnes adaptées pour vos rencontres.</p>

  <%= render "orators/orators" %>
</div>