<% content_for :id, "legal-page" %>

<section class="content-wrapper">
  <h1>Mentions légales</h1>

  <p>Ce site est une initiative du RES, le Réseau Évangélique Suisse. Il n'a pas 
  vocation à vendre des produits ou services.</p>

  <p><b>Siège social</b>: Mention: Réseau Jeunesse, Réseau évangélique Suisse (RES), Case postale 23, 1211 Genève</p>

  <p><b>Contact:</b> info@resj.ch</p>

  <h2>Cookies</h2>

  <p>Ce site Internet utilise des cookies. Les cookies sont de petits fichiers 
  textes qui sont enregistrés sur votre ordinateur, lors de la visite du site, 
  de façon temporaire ou durable. Le but des cookies d'améliorer l'expérience utilisateur du site. 
  Les cookies peuvent être à tout moment désactivés dans les paramètres de votre navigateur web, 
  partiellement ou en totalité. En désactivant les cookies, certaines fonctionnalités de ce 
  site peuvent éventuellement ne plus être disponibles.</p>

</section>