<% content_for :id, "orator-update-profile" %>

<section class="content-wrapper">
  <h2>Bonjour <%= "#{@orator.user.firstname} #{@orator.user.lastname}" %></h2>

  <p>Vous avez actuellement un compte orateur sur Réseau Jeunesse.</p>

  <p>Jusqu'à maintenant les profils orateur n'étaient visibles que pour les utilisateurs enregistrés du site.</p>
  <p>Dans l'optique de servir encore mieux les leaders jeunesse de suisse romande, la consultation des profils orateurs sera dorénavant publique.</p>
  <p>Afin de vous laisser le choix, votre profil a été mis en mode invisible: vous n'apparaissez pas dans la liste publique et ne pouvez par conséquent pas être contacté.</p>
  <p>Nous vous encourageons à vous rendre visible au moyen du bouton ci-dessous. Vous pouvez également supprimer ou mettre à jour votre compte.</p>
  <p>Notez que le profil public n'inclut pas d'informations personnelles telles que votre email, adresse, et numéro de téléphone.</p>
  
  
  <div class="links">
    <%= link_to "Voir mon profil", profile_path %>
    <%= button_to_confirmation "Supprimer mon profil orateur", form: { url: orator_path(@orator), method: :delete } do %>
      <p>Êtes-vous sûr de vouloir supprimer votre profil orateur ?</p>
    <% end %>
    <%= button_to_confirmation "Devenir visible", form: { url: profile_orator_update_visibility_path(@orator), method: :patch }, button_options: { class: "bold" } do %>
      <p>Merci d'avoir changé votre visibilité, aucune autre action n'est requise de votre part. Vous allez être redirigé sur votre profil. Pour continuer, cliquez sur 'Confirmer'.</p>
    <% end %>
  </div>
</section>