<% content_for :id, 'privacy' %>

<h4>Politique de confidentialité</h4>
<p>
	Cette politique de confidentialité indique les pratiques en matière de confidentialité du site Web et services fournis par le Reseau Evangélique Suisse Jeunesse (RES-J). Cette politique s'applique uniquement aux informations recueillies par les sites Web suivants :
	<ul>
		<li>reseaujeunesse.ch</li>
		<li>reseau-jeunesse.ch</li>
		<li>resj.ch</li>
	</ul>
</p>

<h4>Récupération et utilisation d'informations</h4>

<p>
	Nous sommes les seuls propriétaires des informations recueillies sur ce site. Nous recueillons uniquement des informations personnelles que vous nous fournissez volontairement par courrier électronique, formulaire en ligne ou tout autre contact direct avec vous.
</p>
<p>
	Lorsque vous utilisez le site Web ou nos services, nos serveurs enregistrent automatiquement des informations que votre navigateur envoie à tous les sites Web que vous visitez, par exemple l'heure, le type de navigateur, l'adresse du site Web référent et votre adresse IP.
</p>
<p>
	Lorsque vous vous inscrivez sur reseaujeunesse, nous pouvons vous demander des informations telles que vos coordonnées, des informations relatives à votre oeuvre jeunesse, des informations spécifiques sur vos activités et votre adresse électronique.
</p>
<p>
	Lorsque vous vous inscrivez, il vous sera demandé de fournir votre adresse électronique et de confirmer votre souscription en cliquant sur un lien Web dans votre courrier électronique de confirmation de souscription.
</p>
<p>
	Vous restez toujours propriétaire des informations vous concernant que nous recevons, même si vous nous donnez l’autorisation de les utiliser. Nous ne partageons pas les informations vous concernant que nous recevons avec d’autres parties, sauf si :
	<ul>
		<li>Nous avons reçu votre autorisation</li>
		<li>Nous vous avons prévenu, par exemple en vous en informant dans cette politique</li>
		<li>Nous avons supprimé votre nom et toute autre information personnelle permettant de vous identifier.</li>
	</ul>
</p>
<p>
	Nous pouvons utiliser les informations recueillies aux fins générales suivantes : la fourniture de produits et services, l'identification et l'authentification, l'amélioration des services, les contacts et la recherche.
</p>
<p>
	Sauf demande contraire de votre part, nous pouvons vous contacter par courrier électronique à l'avenir pour vous informer de nos activités, d'événements spéciaux, de toutes activités pertinentes pour la jeunesse en suisse-romande ou des modifications apportées à cette politique de confidentialité. Si vous ne souhaitez pas recevoir de telles informations, vous pouvez supprimer votre adresse électronique de nos listes d'envoi à tout moment depuis les Paramètres de votre compte.
</p>
<p>
	En dehors des cas décrits dans cette déclaration, nous ne dévoilerons jamais de façon intentionnelle vos informations personnelles à des tiers sans votre consentement.
</p>
<p>
	Nous pouvons partager vos informations personnelles avec des tiers seulement si nous estimons qu'une telle action est nécessaire pour : (a) répondre à toute loi applicable, toute réglementation, tout processus légal ou toute demande gouvernementale applicable ; (b) enquêter, empêcher ou agir en cas d'activités illégales ou de suspicion de fraude ; (c) protéger et défendre les droits ou la propriété du RES-J ; ou (d) agir dans des situations impliquant des menaces potentielles à la sécurité personnelle de tout individu.
</p>
<p>
	Nous ne recueillons ou ne stockons aucune information concernant vos cartes de crédit.
</p>

<h4>Cookies</h4>

<p>
	Les cookies sont de petits fichiers texte placés sur votre ordinateur par les sites Web que vous utilisez. Ils sont largement utilisés pour faire fonctionner les sites Web ou fonctionner plus efficacement, ainsi que pour fournir des informations aux propriétaires du site. Aucun des cookies utilisés par ce site Web ne contient d'informations personnelles. Vous trouverez ci-dessous une liste de cookies que ce site Web peut définir :
</p>
<ul>
	<li>
		Cookies de session. Ces cookies sont essentiels pour que vous puissiez utiliser le site et ses fonctionnalités. Sans ces cookies, nous ne pourrions pas fournir les services que vous demandez, par exemple la connexion à votre compte.
	</li>
	<li>
		Cookies se souvenant de vos choix. Certains cookies sont utilisés sur ce site Web pour lui permettre de se souvenir des choix que vous effectuez (par exemple votre langue préférée).
	</li>
	<li>
		Cookies Google Analytics. Ces cookies servent à recueillir des informations sur la façon dont les visiteurs utilisent notre site. Nous utilisons ces informations pour compiler des rapports et améliorer le site. Les cookies recueillent des informations sous forme anonyme.
	</li>
	<li>
		Cookies de fournisseurs de services tiers. Des cookies peuvent être définis par les services tiers suivants utilisés sur ce site Web : Google Analytics, le bouton J'aime de Facebook, le bouton Suivre de Twitter, le bouton Google +1, les vidéos Youtube. Certains de ces cookies peuvent servir à suivre votre comportement sur d'autres sites Web, et nous n'avons aucun contrôle là-dessus, car ces cookies ne sont pas définis par notre site Web.
	</li>
</lu>
<p></p>
<p>
	Vous pouvez généralement modifier les paramètres de votre navigateur pour désactiver les cookies. Cependant, en désactivant les cookies, ou certains types de cookies, vous pouvez nuire à votre expérience utilisateur sur ce site et d'autres, ou les empêcher complètement de fonctionner.
</p>
<p>
	En continuant à utiliser ce site Web sans ajuster les paramètres de cookie de votre navigateur, vous acceptez notre droit à placer les cookies susmentionnés sur votre appareil.
</p>

<h4>Google Analytics</h4>

<p>
	Nous utilisons Google Analytics pour comprendre la façon dont le site est utilisé, afin d'améliorer l'expérience utilisateur. Toutes les données des utilisateurs sont anonymes. Vous pouvez en apprendre davantage sur la position de Google concernant son service Analytics en vous rendant sur www.google.com
</p>

<h4>Stockage de données</h4>

<p>
	Nous utilisons des vendeurs et partenaires d'hébergement tiers fiables pour vous proposer le matériel, les logiciels, le réseau, le stockage et les technologies liées nécessaires pour faire fonctionner le site Web et les services du reseaujeunesse.
</p>

<h4>Modification</h4>

<p>
	Nous pouvons occasionnellement mettre à jour cette politique. Lorsque nous le ferons, nous publierons ces modifications sur cette page afin que vous puissiez vous tenir au courant des informations que nous recueillons, la façon dont nous les utilisons et les cas dans lesquels nous les divulguons.
</p>

<h4>Suppression de votre compte</h4>

<p>
	Lorsque vous résiliez votre compte, il est supprimé de façon permanente. Dans certains cas, un délais peut être nécessaire pour supprimer un compte. Certaines informations peuvent néanmoins rester dans des copies de sauvegarde et dans des journaux d’activité. 
</p>

<h4>Questions</h4>

<p>
	Pour toute question concernant cette politique de confidentialité, contactez-nous.
</p>