<% content_for :id, 'resj' %>

<div class="top">
	<h1>Le comité ResJ</h1>
</div>

<h2>Réseau Evangélique Suisse Jeunesse = ResJ !</h2>

<div class="intro">
	<%= image_tag "about/logo.png" %>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet leo vitae tortor condimentum pharetra. Etiam mattis, tortor non posuere condimentum, lectus dolor volutpat augue, sed viverra elit odio id felis. Proin tristique ante eget leo faucibus pulvinar. Nam at posuere ipsum, ut placerat nulla. Fusce laoreet tellus erat, non tempor diam convallis non. Etiam eu nulla vitae nulla pulvinar iaculis ac id nunc.
	</p>
</div>

<div class="clear"></div>

<div class="block">
	<h2>Vision</h2>
	<i class="fi-star"></i>
	<p>
		Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam auctor quam diam, sed tempor tortor pharetra sed. Phasellus rutrum ultricies orci. In a egestas odio, sed lobortis nisi. Donec in augue at orci pharetra varius. Mauris non consequat dui. Nunc venenatis, est quis accumsan sollicitudin, ligula nibh aliquet erat, sed posuere ante sem et nibh.
	</p>
	<ul>
		<li> - Lorem ipsum dolor sit</li>
		<li> - Amet etsi elgaro setma is</li>
		<li> - Saled meda elicor odio</li>
	</ul>
</div>

<div class="block team">
	<h2>Team</h2>
	<div class="member">
		<%= image_tag "about/avatar.png" %>
		<div class="infos">
			<span class="name">Bernard Pivot</span>
			<ul>
				<li><span class="field">Responsabilité</span> Fais le café</li>
				<li><span class="field">Activité</span> Responsable des tasses</li>
				<li><span class="field">Contact</span> ben@resj.ch</li>
			<br> 
		</div>
	</div>
	<div class="member">
		<%= image_tag "about/avatar.png" %>
		<div class="infos">
			<span class="name">Gerrad Despont</span>
			<ul>
				<li><span class="field">Responsabilité</span> Class aptent taciti sociosqu ad litora</li>
				<li><span class="field">Activité</span> Responsable des tasses</li>
				<li><span class="field">Contact</span> ben@resj.ch</li>
			<br> 
		</div>
	</div>
	<div class="member">
		<%= image_tag "about/avatar.png" %>
		<div class="infos">
			<span class="name">Julie Grandjean</span>
			<ul>
				<li><span class="field">Responsabilité</span> Fais le café</li>
				<li><span class="field">Activité</span> Nunc venenatis, est quis accumsan sollicitudin</li>
				<li><span class="field">Contact</span> ben@resj.ch</li>
			<br> 
		</div>
	</div>
</div>

<div class="clear"></div>