<% content_for :id, "container-about" %>

<section class="std-top">
  <div class="content-wrapper">
    <h1>A propos</h1>
  </div>
</section>

<section class="std-container">
  <div class="left">
    <h2>Qu'est-ce que le RES-J ?</h2>
    <p class="bigger">
      Le RES-J (Réseau Évangélique Suisse Jeunesse) est un groupe de travail du réseau évangélique suisse. Son objectif est d’offrir une plate-forme ressources pour soutenir ceux qui travaillent parmi la jeunesse chrétienne de suisse romande.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    </p>

    <details>
      <summary><h2>Historique</h2></summary>
      <p class="bigger">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      </p>

      <p>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. <b>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</b>
      </p>
    </details>

    <details>
      <summary><h2>Les partenaires</h2></summary>
      <p>...</p>
    </details>
  </div>

  <div class="right">
    <h2>Contact</h2>

    <a class="violet" href="mailto:info@resj.ch">info@resj.ch</a>

    <p>
      Mention: Réseau Jeunesse<br>
      Réseau évangélique Suisse (RES)<br>
      Case postale 23<br>
      1211 Genève 8
    </p>

    <div class="social">
      <%= image_tag "layout/social-media-fb" %>
      <%= image_tag "layout/social-media-twitter" %>
      <%= image_tag "layout/social-media-insta" %>
    </div>
  </div>
</section>