/* http://condorthemes.com/cleanzone/ */
#admin_header {

	background : #272930;
	min-width: 220px;
	display: block;
	float: left;

	.side-user {
		padding: 18px 10px;

		div.avatar {
			display: inline-block;
			img {
				border-radius: 50px;
				margin: 0 5px 0 0;
			}
		}

		div.infos {
			display: inline-block;
			vertical-align: top;
			padding: 10px 0 0 0;
			a {
				color: #fff;
				display: block;
				&:hover {
					font-weight: 400;
				}
			}
			a.exit {
				font-size: 11px;
				color: #AFAFAF;
				&:hover {
					color: #fff;
				}
			}
		}

	}

	ul {
		li {
			a {
				border-top: 1px solid #32353e;
				border-bottom: 1px solid #1a1c20;
				padding: 14px 18px 13px 15px;
				color: #c9d4f6;
				display: block;
				font-weight: 300;
				text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
				font-size: 12px;

				&:hover, &.active {
					background: #2A2C34;
					border-left: 1px solid #2494F2;
				}
				span {
					float: right;
					font-size: 9px;
				}
			}
			ul {
				background: #1A1C20;
				padding-top: 4px;
				li {
					&:last-child {
						padding-bottom: 13px;
					}
					a {
						border-top: 0px;
						font-size: 11px;
						padding: 7px 18px 7px 42px;
						&:hover {
							background: #1e2025;
						}
						&.active {
							border-left: 1px solid #2494F2;
							background: #1e2025;
						}
					}
				}
			}
		}
	}

	.vspace {
		min-height: 100%;
	}

		&:after, &:before {
		display: table;
		content: " ";
	}

	&:after {clear: both}

}

#admin_top_header {

	width: 100%;
	height: 30px;
	background : #272930;
	border-top: 1px solid #32353e;
	border-bottom: 1px solid #1a1c20;
	position: relative;
	z-index: 20; // for shadow of responsive menu

	.slide {
		display: none;
		position: absolute;
		top: -1px;
		left: 0;
		width: 30px;
		height: 30px;
		border-radius: 0 4px 4px 0;
		background: #c9d4f6;
		padding: 5px 0px 0px 7px;
		cursor: pointer;
		transition: background-color 0.3s ease;
		&:hover {
			background: #272930;
			& span {
				color: #c9d4f6;
			}
		}
		span {
			font-size: 25px;
			color: #272930;
			transition: color 0.3s ease;
		}
	}

}