#admin_content.admin_article {
	textarea {
		height: 280px;
	}
	pre {
		font-family: "Courier new";
		background: rgb(255, 240, 219);
		padding: 10px 20px;
	}
	article.article {
		padding: 20px;
		background: rgb(255, 240, 219);
		display: none;
	}
	#article-pre {
		resize: vertical;
		overflow: scroll;
		height: 300px;
	}
}