#admin_content.cards-affiliation {
  .check-box {
    &:first-child {
      padding: 5px 0 0 0;
    }
    label {
      display: inline-block;
      padding: 5px 0 0 17px;
    }
    input {
      width: initial;
      height: initial;
      display: inline-block;
    }
  }
}
