#admin {

	.team {
		width: initial;
		max-width: 750px;
		.fields {
			background: #EEE;
			padding: 5px;
			margin: 0 0 5px 0;
			&.contact {
				border: 3px solid #DDD;
				margin: 10px 0 10px 0;
			}
			.field {
				display: inline-block;
				width: 120px;
				input {
					height: 30px;
					border-radius: 5px;
				}
				a {
					color: #777;
					&:hover {
						font-weight: 500;
					}
				}
			}
		}
	}

	.affiliation {
		width: initial;
		max-width: 750px;
		.fields {
			background: #EEE;
			padding: 5px;
			margin: 0 0 5px 0;
			&.contact {
				border: 3px solid #DDD;
				margin: 10px 0 10px 0;
			}
			.field {
				display: inline-block;
				width: 220px;
				input {
					height: 30px;
					border-radius: 5px;
				}
				a {
					color: #777;
					&:hover {
						font-weight: 500;
					}
				}
			}
		}
	}

}
