@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400);
#admin {

	width: 80%;
	margin: 10px auto;
	padding: 10px;

	#admin_content {

		display: block;
		vertical-align: top;
		overflow-x: auto;

		h1 {
			font-family: "Raleway", Helvetica, sans-serif;
			font-weight: 300;
			font-size: 29px;
			line-height: 38px;
			padding: 0;
			float: right;
		}

		h2 {
			font-family: "Raleway", Helvetica, sans-serif;
			font-weight: 200;
			font-size: 29px;
			line-height: 38px;
			padding: 0;
		}

		h3 {
			font-family: "Raleway", Helvetica, sans-serif;
			font-size: 13px;
			font-weight: 200;
			line-height: 21px;
		}

		a {
		}

		.row {
			box-sizing: border-box;
			&:after, &:before {
				display: table;
				content: " ";
			}
			&:after {clear: both}
		}

		.col {
			padding: 15px;
			vertical-align: top;
			float: left;

			&.split2 {
				width: 50%;
				min-width: 300px;
				} // &.split2

		} // .col

		.block {
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
			border: 0;
			background: #fff;
			border-radius: 3px;
			text-align: left;

			.header {
				padding: 20px;
			}

			ul {
				li {
					border-top: 1px solid #e8e8e8;
					padding: 10px 20px;
					transition: background 0.25s ease-in-out;
					&:hover {
						background:#F4F4F4;
						span.settings{color: #000}
					}
					span.push-right {
						float: right;
					}
					span.settings {
						color: #e8e8e8;
					}
				} // .li
			} // .ul

		} // .block

	} // .admin_content

	/*  General design */

	#admin_table {

		.table_buttons {
			padding: 20px;
			text-align: right;
			a {
				background: #F0F8FF;
				padding: 6px 10px;
			}
		}

		table {
			border-collapse: collapse;
			width: 100%;
			max-width: 100%;
			line-height: 21px;
			thead {
				tr {
					th {
						vertical-align: bottom;
						border-bottom: 1px solid #DADADA;
						padding: 10px 8px 5px 8px;
						font-size: 13px;
						text-align: left;
						background: #3d3d3e;
						color: #c0c0c0;
						font-weight: 400;
						&:not(:first-child) {
						}
						&:not(:last-child) {
						}
						a {
							color:#c0c0c0;
							font-weight: bold;
						}
					}
				}
			}
			tbody {
				td {
					font-size: 12px;
					padding: 7px 8px;
					&:not(:first-child) {
						border-left: 1px solid #DADADA;
					}
				}
			}
			tr.odd {
				background: #f8f8f8;
			}
			tr.row_selected {
				background: #F0BEBE;
			}
		}

	}

}