#admin_content.my_cards {
	a.edit-btn {
		float: right;
		font-size: 12px;
		.settings {
			color: #e8e8e8;
			font-size: 17px;
		}
		&:hover .settings{
			color: #000;
		}
	}
	span.fi-check {
		padding: 0 5px 0;
		color: rgb(182, 182, 182);
	}
	span.fi-alert {
		padding: 0 5px 0;
		color: rgb(232, 111, 111);
	}
	.pagination {
		text-align: center;
		padding: 20px 0 0 0;
	}
}