#admin_content.notifications {

	.deco {
		border-bottom: 5px solid rgb(239, 239, 239);
		position: relative;
		p {
			color: rgb(200, 200, 200);
			padding: 10px 10px 10px 46px;
		}
		span {
			position: absolute;
			font-size: 36px;
			padding: 0 0 0 12px;
			color: rgb(200, 200, 200);
			top: 7px;
		}
	}

	.option {
		padding: 15px;
		position: relative;
		input[type="checkbox"] {
			width: initial;
			padding: 0;
			height: initial;
			position: absolute;
			top: 32px;
		}

		label {
			width: initial;
			display: inline-block;
			padding: 0 0 0 32px;
		}

	}

}