#admin_content.profile {
	.avatar {
		text-align: center;
		img {
			border-radius: 50px;
		}
	}
	a.edit-btn {
		float: right;
		font-size: 12px;
		.settings {
			color: #e8e8e8;
			font-size: 17px;
		}
		&:hover .settings{
			color: #000;
		}
	}
}