default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: <%= ENV['POSTGRES_HOST'] or "localhost" %>
  username: <%= ENV['POSTGRES_USER'] or "khcr" %>
  password: <%= ENV['POSTGRES_PASSWORD'] or "" %>

development:
  <<: *default
  database: resj_development

  
test: &test
  <<: *default
  database: resj_test

production:
  <<: *default
  database: resj_production
  username: resj
  password: 

cucumber:
  <<: *test
