<% content_for :prehead, "Confirmation de votre message sur Réseau Jeunesse" %>

<h1>Copie de ton message</h1>

<p>Nous te confirmons l'envois du message suivant à un orateur:</p>

<hr/>

<p class="quote"><%= @contact.message %></p>

<hr/>

<p>L'orator va recevoir ton message et te répondre sous peu.</p>