<% content_for :id, "container-cards-users-new" %>

<div class="session-form session-form-green">
  <div class="wrapper wrapper-bigger">
    <div class="title">
      <span>Avez-vous déjà un compte sur le site?</span>
    </div>

    <p class="intro">
      Si vous possédez déjà un compte sur le site veuillez vous connecter. Sinon
      veuillez utiliser le formulaire en bas pour commencer par vous créer un compte.
    </p>

    <div class="cb-signin">
      <h2>Se connecter</h2>

      <%= render "sessions/form", redirect_url: new_cards_wizard_path %>

    </div>

    <div class="cb-signup">
      <h2>S'inscrire</h2>

      <%= render "users/form", record: @user, url: cards_users_path %>

    </div>
  </div>
</div>