<div class="signin">
  <h2>Se connecter</h2>

  <%= render "sessions/form", redirect_url: new_cards_wizard_path %>
</div>

<div class="signup">
  <h2>S'inscrire</h2>

  <%= render "users/form", record: @user, url: cards_users_path %>

</div>
