<% content_for :id, "errors" %>

<h1>Page introuvable</h1>
<h2>problème rencontré, erreur 404</h2>
<p>Vous n'allez rien trouver ici. Mais pour vous consoler, voici deux sapins :</p>
<p class="icon"><span class="fi-trees"></span></p>
