<% content_for :id, "errors" %>

<h1>Erreur serveur</h1>
<h2>problème rencontré, erreur 422</h2>
<p>Ceci n'est pas normal. Si vous êtes gentil, vous pouvez m'envoyer un mail noemien@resj.ch</p>
<p class="icon"><span class="fi-dislike"></span></p>
