<div class="tools">
</div>
<table>
	<thead>
		<tr>
			<% columns.each do |column| %>
				<th><%= column %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% if elements.any? %>
			<% elements.each do |element| %>
				<tr class="<%= cycle('odd', 'even') %>">
					<td><%= element %></td>
				</tr>
			<% end %>
		<% else %>
			<tr><td>Il n'y a aucun élément à afficher.</td></tr>
		<% end %>
	</tbody>
</table>
<div class="bottom">
</div>