@mixin flash {
  text-align: center;
  padding: 6px 30px;
  max-width: 1200px;
  margin: 5px auto;
  font-size: 13px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  ul {
    text-align: left;
    li {
      background: image-url("layout/bullet.svg") no-repeat 7px 7px;
      background-size: 7px;
      padding: 0 0 0 25px;
    }
  }
  .close {
    text-decoration: underline;
    padding: 0 0 0 2px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
      font-weight: 400;
    }
  }
  .icon {
    font-size: 40px;
    padding: 5px;
  }
}

#flash.flash-success {
  @include flash;
  background: #a4ff8c;
}

#flash.flash-error {
  @include flash;
  background: #ff9a8c;
}

#flash.flash-notice {
  @include flash;
  background: #8ce8ff;
}

#flash.flash-infos {
  @include flash;
  background: rgb(238, 238, 238);
  padding: 20px 30px;
  line-height: 20px;
  .title {
    padding: 0 0 20px 0;
  }
}
