@font-face {
  font-family: asap;
  font-weight: bold;
  src: font-url("asap/Asap-Bold");
}

@font-face {
  font-family: asap;
  font-weight: bold;
  font-style: italic;
  src: font-url("asap/Asap-BoldItalic");
}

@font-face {
  font-family: asap;
  font-weight: normal;
  src: font-url("asap/Asap-Regular");
}

@font-face {
  font-family: asap;
  font-weight: normal;
  font-style: italic;
  src: font-url("asap/Asap-Italic");
}
