<div class="row">
	<div class="col split2">
		<div class="block">
			<div class="header">
				<h2>Dernières oeuvres inscrites</h2>
			</div>
			<ul>
				<li>
					Way <span class="push-right">il y a 2 jours</span>
				</li>
				<li>
					Power Camps <span class="push-right">il y a 2 jours</span>
				</li>
				<li>
					Eglise évangélique des pioanos <span class="push-right">il y a 2 jours</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="col split2">
		<div class="block">
			<div class="header">
				<h2>Oeuvres en attentes de validation</h2>
			</div>
			<ul>
				<li>
					Power Camps <span class="push-right">il y a 2 jours</span>
				</li>
				<li>
					Eglise évangélique des pioanos <span class="push-right">il y a 2 jours</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="col">
	<div class="block">
		<div class="header">
			<h2>Ajouter une oeuvre</h2>
		</div>
		<ul>
			<li>
				<%= link_to 'Via admin', new_admin_card_path %>
			</li>
			<li>
				<%= link_to 'Via accès public', new_card_wizard_path %>
			</li>
		</ul>
	</div>
</div>

<div class="col col-table">
	<div class="block">
		<div class="header">
			<h2>Listes des oeuvres incrites</h2>
		</div>
		<div id="admin_table">
			<%= present @table %>
		</div>
	</div>
</div>