@mixin top {
	width: 100%;
	background: #272829;
	box-sizing: border-box;
	padding: 0 0 0 7px;
	position: relative;

	&:after, &:before {
		display: table;
		content: " ";
	}

	&:after {clear: both}
} // top

@mixin h1 {
	color: #fff;
	font-family: "Raleway", Helvetica, sans-serif;
	font-weight: 200;
	font-size: 29px;
	line-height: 38px;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	position: relative;
	z-index: 10;
}