@import 'partial_top';

@mixin search-top {
	#_search-top {
		width: 100%;
		background: #272829;
		box-sizing: border-box;
		padding: 10px;
		position: relative;

		h1 {
			@include h1;
			float: left;
		}

		&:after, &:before {
			display: table;
			content: " ";
		}

		&:after {clear: both}

		.left {
			float: left;
			width: 40%;
			padding-top: 45px;
			&:after, &:before {
				display: table;
				content: " ";
			}
			&:after {clear: both}
			.search {
				// http://codepen.io/anon/pen/lpheC
				position: absolute;
				bottom: 10px;

				.form {
					box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);

					input {
						width: 200px;
						height: 37px;
						padding: 5px 5px;
						float: left;
						border: 0;
						background: #EEE;
						border-radius: 3px 0 0 3px;
		
						&:focus {
							outline: 0;
					    background: #fff;
					    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
						}
					}

					button {
						overflow: visible;
						position: relative;
						float: right;
						border: 0;
						padding: 0;
						cursor: pointer;
						height: 37px;
						width: 82px;
						color: white;
						text-transform: uppercase;
						background: #D83C3C;
						border-radius: 0 3px 3px 0;
						text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
				
						&:hover {
							background: #e54040;
						}
						&:active,
						&:focus {
							background: #c42f2f;
			 			  outline: 0; 
						}
						&:before {
							content: '';
					    position: absolute;
					    border-width: 8px 8px 8px 0;
					    border-style: solid solid solid none;
					    border-color: transparent #d83c3c transparent;
					    top: 11px;
					    left: -6px;
						}
						&:hover:before {
							border-right-color: #e54040;
						}
						&:active:before,
						&:focus:before {
							border-color: transparent #c42f2f transparent;
						}
					} // button
				} // form
			} // Search
		} // left

		.right {
			float: right;
			width: 60%;
			li.marketing {
				width: 50%;
				padding: 0 10px 0 0;
				div.marketing {
					background: #EEE;
					padding: 10px;
					min-height: 74px;
					font-size: 13px;
				}
			}
			.nav {
				&:after, &:before {
					display: table;
					content: " ";
				}

				&:after {clear: both}
				li {
					text-align: center;
					float: right;
					.infos {
						background: #EEE;
						color: #827c7c;
						border-radius: 3px 3px 0 0;
						font-size: 13px;
						padding: 10px;
						position: relative;
						&:before {
							content: '';
							position: absolute;
							border-width: 8px 8px 8px 8px;
							border-style: solid solid solid solid;
							border-color: #EEE transparent transparent;
							top: 33px;
							left: 6px;
						}
					}
					.btn {
						background: #D83C3C;
						padding: 11px 0 8px 0;
						border-radius: 0 0 3px 3px;
						&:hover {
							background: #e54040;
						}
						a {
							color: #fff;
							text-transform: uppercase;
							text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
							font-size: 11px;
							font-weight: 600;
							padding: 10px 40px; // un peu nul...
						}
					}
				}
			}
		}
	} // top
}