@mixin title-large {
	._title-large {
		.wrapper {
			position: relative;
			z-index: 10;
			background: #eaeaea;
			padding: 0 0 0 10px;
			h2 {
				font-size: 27px;
				float: left;
				width: 40%;
				text-align: left;
			}
			span {
				vertical-align: middle;
				float: right;
				width: 60%;
				text-align: right;
				padding: 16px 113px 10px 0;
				a {
					margin: 0 0 0 30px;
					background: #d84418;
					color: #fff;
					font-weight: 400;
					position: absolute;
					top: 0; right: 0;
					padding: 16px 10px 0 0;
					height: 47px;
					width: 85px;
					&:hover {
						background: #e54040;
					}
					&:before {
						content: '';
				    position: absolute;
				    top: 0;
				    left: -40px;
				    width: 0;
						height: 0;
						border-top: 47px solid #d84418;
						border-left: 40px solid transparent;
						z-index: -10;
					}
					&:hover:before {
						border-top: 47px solid #e54040;
					}
				}
			}
		}	
	}
}