<div class="index">
  <% if @orators.any? %>
    <ul>
  		<% @orators.each do |orator| %>
  			<li class="card" id="<%= "orator#{orator.id}" %>">
          <div class="wrapper">
            <p class="description">
              <i class="fi-megaphone"></i>
              <%= link_to "#{orator.user.firstname} #{orator.user.lastname}", orator_path(orator) %>
            </p>
            <div class="tags">
              <% orator.themes.each do |tag| %>
                <div class="tag"><%= tag.name %></div>
              <% end %>
            </div>
          </div>
        </li>
  		<% end %>
    </ul>
  <% else %>
    <div class="nothing">
      <p class="icon"><span class="fi-list-bullet"></span></p>
      <p>Votre recherche n'a donné aucun résultat.</p>
    </div>
  <% end %>
</div>