<div id="map-canvas"></div>

<% content_for :javascript do %>
  <script data-turbolinks-track="true" type="text/javascript">
    load_google_map.loadScript('gmap_orator.initialize');
    function draw_map() {
      <% grouped = @orators.group_by{ |a| [a.location]} %>
      <% grouped.values.each do |group| %>
        <% names = "" %>
        <% group.each do |orator| %>
          <% names += %Q[<p>#{orator.user.firstname} #{orator.user.lastname} #{content_tag :span, "voir", data: {id: "#orator#{orator.id}"}, class: "link_orator"}</p>] %>
        <% end %>
        var string = "<%= j %Q[
                <div class="infowindow">
                  <p class="location">#{group.first.location.full_name}</p>
                  <p class="info">#{group.size} orateur#{'s' if group.size > 1} dans cette région</p>
                  #{names}
                </div>
        ].html_safe %>";
        gmap_orator.addIcon('<%= group.first.location.latitude %>', '<%= group.first.location.longitude %>', gmap_orator.map, string, gmap_orator.infowindow);
      <% end %>
    }
  </script>
<% end %>