<% if @orators.any? %>

<% end %>

<div id="map-canvas"></div>

<script type="text/javascript">
  map = gmap.initialize();

  <% @orators %>
  var string = "<%= j %q[
          <div class="infowindow">
            <p class="location">Bulle - Bulle</p>
            <p class="info">3 orateurs dans cette région</p>
            <p>Noémien Kocher <span class="see">voir</span></p>
            <p>Baptiste François <span class="see">voir</span></p>
            <p>Luc Skywalker <span class="see">voir</span></p>
          </div>
  ].html_safe %>";
  gmap.addIcon("Bulle, switzerland", map, string);

</script>