<div id="map-canvas"></div>

<script type="text/javascript">
  map_params = gmap_orator.initialize();

  <% grouped = @orators.group_by{ |a| [a.location]} %>
  <% grouped.values.each do |group| %>
    <% names = "" %>
    <% group.each do |orator| %>
      <% names += %Q[<p>#{orator.user.firstname} #{orator.user.lastname} #{content_tag :span, "voir", data: {id: "#orator#{orator.id}"}, class: "link_orator"}</p>] %>
    <% end %>
    var string = "<%= j %Q[
            <div class="infowindow">
              <p class="location">#{group.first.location.full_name}</p>
              <p class="info">#{group.size} orateur#{'s' if group.size > 1} dans cette région</p>
              #{names}
            </div>
    ].html_safe %>";
    gmap_orator.addIcon('<%= group.first.location.latitude %>', '<%= group.first.location.longitude %>', map_params["map"], string, map_params["infowindow"]);
  <% end %>

</script>