$('#results .left-content').html('<%= j render "results_l" %>');
// Because of window.onload in google_map.js, the event is not triggered
// with ajax. So I call the function manually here. (nkcr)

// could be removed for it may be too resource-intensive
orators_index.clearMarkers();

<% grouped = @orators.group_by{ |a| [a.location]} %>
<% grouped.values.each do |group| %>
  <% names = "" %>
  <% group.each do |orator| %>
    <% names += %Q[<p>#{orator.user.firstname} #{orator.user.lastname} #{content_tag :span, "voir", data: {id: "#orator#{orator.id}"}, class: "link_orator"}</p>] %>
  <% end %>
  var string = "<%= j %Q[
          <div class="infowindow">
            <p class="location">#{group.first.location.full_name}</p>
            <p class="info">#{group.size} orateur#{'s' if group.size > 1} dans cette région</p>
            #{names}
          </div>
  ].html_safe %>";
  orators_index.addIcon('<%= group.first.location.latitude %>', '<%= group.first.location.longitude %>', string);
<% end %>
