<div data-controller="search" data-search-list-controller="orators--list">
  <%= form_with url: "/orators.json", method: :get, local: true, data: { target: "search.form" } do |f| %>

    <%= f.text_field :name, placeholder: "Rechercher un orateur", "data-target": "search.input" %>

    <%= f.collection_check_boxes :cantons, Canton.all, :id, :name, {}, "data-target": "search.input" %>

    <%= f.collection_check_boxes :themes, Theme.all, :id, :name, {}, "data-target": "search.input" %>

  <% end %>

  <div data-target="search.list" data-orators--list-page="1" data-controller="orators--list">
    <div hidden data-target="orators--list.itemTemplate">
      <div data-target="orators--list.name"></div>
    </div>
    <div data-target="orators--list.items">
    </div>
    <div class="pagination">
      <button class="nav" data-target="orators--list.previous" data-action="orators--list#previous">Précédent</button>
      <div hidden data-target="orators--list.numberTemplate">
        <a data-target="orators--list.number" data-action="orators--list#go" class="number"></a>
      </div>
      <div data-target="orators--list.numbers">
      </div>
      <button class="nav" data-target="orators--list.next" data-action="orators--list#next">Suivant</button>
    </div>
  </div>
  
</div>
