<% content_for :id, 'orators' %>

<form>
	<div id="_search-top">
		<div class="right">
		 	<ul class="nav">
		 		<li class="hder">
		 			<div class="infos">
		 				<p>Vous êtes un orateur jeunesse?</p>
		 			</div>
		 			<div class="btn">
		 				<%= link_to "Faire une demande", contact_path %>
		 			</div>
		 		</li>
		 		<li class="marketing">
		 			<div class="marketing">
		 				<p>Tu n'as pas l'email de ton orateur préféré ? Ou alors tu cherches peut-être un thème particulier ? Besoin simplement d'insiration ? N'hésite pas à parcourir la liste d'intervenants, cherche par thèmes, à l'aide de la carte ou en utilisant le champs de recherche.</p>
		 			</div>
		 		</li>
		 	<ul>
		</div>
		<div class="left">
		  <div class="search">
		  	<div class="form">
					<input ng-model="search.query" ng-model-options="{debounce: 500}" ng-change="search()"
						placeholder="Rechercher un orateur" %>
					<button type="button">Tapez</button>
				</div>
		  </div>
		</div>
	</div>

	<%= render "resource_goback" %>

	<div class="rows" id="results">
		<div class="left">
		  <%= render 'filters' %>
			<div class="left-content">
				<%= render 'results' %>
			</div>
		</div>
		<div class="right">
			<div id="map-canvas"></div>
		</div>
		<div id="clear"></div>
	</div>
</form>
