<% content_for :id, 'orators-form' %>

<div class="top">
	<h1>Enregistrement d'un orateur</h1>
</div>

<h2>Nous savions que nous pourrions compter sur vous!</h2>

<div class="intro">
	<div class="visu">
		<i class="fi-bookmark"></i>
	</div>
	<div class="text">
		<p> Bonjour, nous sommes heureux de pouvoir compter sur vous pour soutenir la jeunesse de suisse-romande au travers de vos compétences ! Voici un rapide formulaire qui vous permettra de vous enregistrer. Après création, vous disposerez de votre propre compte sur le site vous permettant de maintenir vos informations à jour. <br> Après l'enregistrement, vous recevrez un email de confirmation.</p>
	</div>
	<div id="clear"></div>
</div>

<div class="form">
	<%= form_for @user, url: orators_path do |f| %>
		<%= render 'form', f: f %>
	<% end %>
</div>