<% content_for :id, 'orators-form' %>

<div class="top">
	<h1>Enregistrement d'un orateur</h1>
</div>

<h2>Magnifique de pouvoir compter sur vous!</h2>

<div class="intro">
	<div class="visu">
		<i class="fi-bookmark"></i>
	</div>
	<div class="text">
		<p> Bonjour, nous sommes heureux de pouvoir compter sur vous pour soutenir la jeunesse de suisse-romande au travers de vos compétences ! Voici un rapide formulaire qui vous permettra de vous enregistrer. Après création, vous disposerez de votre propre compte sur le site vous permettant de maintenir vos informations à jour. <br> Après l'enregistrement, vous recevrez un email de confirmation.</p>
		<p><b>Note: </b>si vous avez déjà un compte, il faut <a href="/connexion"><b>vous connecter</b></a> d'abord.</p>
	</div>
	<div id="clear"></div>
</div>

<div class="form">
	<% if @user.new_record? %>
		<%= render 'new_form' %>
	<% else %>
		<%= render 'edit_form' %>
	<% end %>
</div>