<%= render layout: 'form' do |f| %>

	<div class="block">
		<div class="label">
			<p>
				<span class="num">11</span> Avez-vous un <span class="b">site web</span>? (optionnel)
			</p>
		</div>
		<%= f.text_field :website %>
	</div>

	<div class="block">
		<div class="label">
			<p>
				<span class="num">12</span> Possédez-vous une <span class="b">affiliation</span> avec une église, un mouvement? (optionnel)
			</p>
		</div>
		<%= f.text_area :affiliation %>
	</div>

	<div class="block">
		<div class="label">
			<p>
				<span class="num">13</span> Ici, vous pouvez aidez le moteur de recherche avec maximum 5<span class="b">tags</span>. Mettez des mots-clefs qui vous identifient le plus (évangélisation, camps, louage, ...) (optionnel)
			</p>
		</div>
		<%= f.text_field :tag_names, class: "selectize-tags" %>
	</div>	

<% end %>