<%= render layout: 'form' do |f| %>

	<div class="block">
		<div class="label">
			<!-- 	<%= f.label :email %> -->
			<p>
				<span class="num">7</span> Un petit <span class="b">email</span> de <span class="b">contact</span> au cas ou
			</p>
		</div>
	<%= f.text_field :email, placeholder: "contact@mail.ch" %>
	</div>

	<%= render 'responsables_fields', f: f %>
<% end %>