<% content_for :id, 'cards' %>

<form>
	<div id="_search-top">
		<div class="right">
		 	<ul class="nav">
		 		<li class="hder">
		 			<div class="infos">
		 				<p>Vous n'y êtes pas encore?</p>
		 			</div>
		 			<div class="btn">
		 				<%= link_to "Rejoindre le réseau", new_cards_wizard_path %>
		 			</div>
		 		</li>
		 		<li class="marketing">
		 			<div class="marketing">
		 				<p><b>Le réseau!</b> En connectant ton groupe, ton organisation ou ton événement à tout ce qui se fait en Suisse romande, tu contribues à une vue d’ensemble motivante et à une visibilité nouvelle dans ta région et bien au-delà. Zoom dans ta région et sois encouragé de voir tout ce qui s'y vit!</p>
		 			</div>
		 		</li>
		 	<ul>
		</div>
		<div class="left">	
		  <div class="search">
		  	<div class="form">
					<input ng-model="search.query" ng-model-options="{debounce: 500}" ng-change="search()"
						placeholder="Tapez 'Fribourg', 'camps', 'Flambeau'" %>
					<button type="button">Tapez</button>
				</div>
		  </div>	
		</div>		
	</div>

	<div class="rows" id="results">
		<div class="left">
			<%= render 'filters' %>	
			<div class="left-content">
				<%= render 'results' %>
			</div>
		</div>
		<div class="right">
			<div id='map'></div>
		</div>
		<div class="clear"></div>
	</div>
</form>