<% content_for :banH, '0' %>
<% content_for :banI, '' %>
<% content_for :id, 'cards-form' %>

<div class="top">
	<h1><%=t 'card.create.title' %></h1>
</div>

<p class="expired"></p>

<div class="wizard">
	<%=  render "#{@card.current_step}_step" %>
</div>

<script>
setTimeout(function() { window.location.reload(); alert('Session expired') }, 1800000);
</script>