<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDNsGj5h-WJXPiLtYVn0TSfiisPwhEAbjg&sensor=false" %>
<%= javascript_include_tag "card_new_map.js" %>

<% content_for :banH, '0' %>
<% content_for :banI, '' %>
<% content_for :id, 'cards-form' %>

<div class="top">
	<h1><%=t 'card.create.title' %></h1>
</div>

<p class="expired"></p>

<div class="wizard">
	<%= render "#{@card.current_step}_step" %>
</div>

<script>
$(function(){
  var idleTimer;
  function resetTimer(){
    clearTimeout(idleTimer);
    idleTimer = setTimeout(function() { window.location.reload(); alert("La session de création d'un groupe a expiré") }, 1800000);
  }
  $(document).on('click', resetTimer );
  resetTimer();
});
</script>