@import "../global/variables.scss";

.info-box-red {
  padding: 15px;
  display: inline-block;
  background-color: $color-red;
  text-transform: uppercase;
  font-size: 1.3em;
  color: #fff;
}

.info-box-orange {
  padding: 15px;
  display: inline-block;
  background-color: $color-orange;
  text-transform: uppercase;
  font-size: 1.3em;
  color: #fff;
}

.info-box-red-lower {
  padding: 15px;
  display: inline-block;
  background-color: $color-red;
  font-size: 1.3em;
  color: #fff;
}

.info-box-orange-lower {
  padding: 15px;
  display: inline-block;
  background-color: $color-orange;
  font-size: 1.3em;
  color: #fff;
}
