header {
	width: 100%;
	margin: 20px auto 0 auto;
	text-align: center;

	.logo {
		width: 403px; height: 95px;
		display: inline-block;
		vertical-align: middle;
		background: image-url('layout/logo.png') center top no-repeat;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	.space {
		display: inline-block;
		height: 0; width: 100px;
	}

	nav {
		display: inline-block;
		vertical-align: middle;
		.normal {
			ul {
				li {
					display: inline-block;
					padding: 10px 0;
					a {
						padding: 10px 8px;
						font: 500 23px 'jura', tahoma;
						color: #000;
						text-align: center;
						text-shadow: 1px 0 1px #999;
						vertical-align: middle;
						&:hover {
							background: #EE6737;
							color: #fff;
						}
					}
					&.profil {
						a {
							font-size: 15px;
							text-shadow: none;
						}
					}
				}
			}
		}
		.login {
			text-align: right;
			padding: 10px 8px 0 0;
			position: relative;
			.click {
				background: #D83C3C;
				width: 33px;
				position: absolute;
				right: 14px;
				color: #eee;
				padding: 0 4px;
				&:before {
					content: '';
					position: absolute;
					border-width: 5px 8px 5px 8px;
					border-style: solid solid solid solid;
					border-color: transparent #D83C3C transparent transparent;
					top: 4px;
					left: -16px;
					z-index: 10;		
				}
			}
			ul {
				li {
					display: inline-block;
					a {
						padding: 10px 3px;
						background: #D83C3C;
						color: #eee;
					}
				}
			}
		}
	}
}