header 
{
	width: 100%;
	margin: 20px auto 0 auto;
	text-align: center;

	.logo {
		width: 403px; height: 95px;
		display: inline-block;
		vertical-align: middle;
		background: image-url('layout/logo.png');
	}

	.space {
		display: inline-block;
		height: 0; width: 100px;
	}

	nav {
		display: inline-block;
		vertical-align: middle;
	}

		nav a {
			padding: 10px 8px;
			font: 300 21px 'Ubuntu', tahoma;
			color: #000;
			text-align: center;
			text-shadow: 1px 0 1px #999;
		}

		nav a:hover {
			background: #EE6737;
			color: #fff;
		}

		ul li {
			display: inline-block;
		}
}