// Cards
#container.cards {

	.top {
		width: 100%;
		background: #272829;
		box-sizing: border-box;
		padding: 10px;
		position: relative;

		&:after, &:before {
			display: table;
			content: " ";
		}

		&:after {clear: both}

		.left {
			float: left;
			width: 40%;
			padding-top: 45px;
			&:after, &:before {
				display: table;
				content: " ";
			}
			&:after {clear: both}
			.search {
				// http://codepen.io/anon/pen/lpheC
				position: absolute;
				bottom: 10px;

				form {
					box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
				}

					form input {
						width: 200px;
						height: 37px;
						padding: 5px 5px;
						float: left;
						border: 0;
						background: #EEE;
						border-radius: 3px 0 0 3px;
					}
					form input:focus {
						outline: 0;
				    background: #fff;
				    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
					}

					form button {
						overflow: visible;
						position: relative;
						float: right;
						border: 0;
						padding: 0;
						cursor: pointer;
						height: 37px;
						width: 82px;
						color: white;
						text-transform: uppercase;
						background: #D83C3C;
						border-radius: 0 3px 3px 0;
						text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
					}
					form button:hover {
						background: #e54040;
					}
					form button:active,
					form button:focus {
						background: #c42f2f;
		 			  outline: 0; 
					}
					form button:before {
						content: '';
				    position: absolute;
				    border-width: 8px 8px 8px 0;
				    border-style: solid solid solid none;
				    border-color: transparent #d83c3c transparent;
				    top: 11px;
				    left: -6px;
					}
					form button:hover:before {
						border-right-color: #e54040;
					}
					form button:active:before,
					form button:focus:before {
						background: #c42f2f;
					}
			} // Search
		} // left

		.right {
			float: right;
			width: 60%;
			li.marketing {
				width: 50%;
				padding: 0 10px 0 0;
				div.marketing {
					background: #EEE;
					padding: 10px;
					min-height: 74px;
					font-size: 13px;
				}
			}
			.nav {
				&:after, &:before {
					display: table;
					content: " ";
				}

		&:after {clear: both}
				li {
					text-align: center;
					float: right;
					.infos {
						width: 200px;
						background: #EEE;
						color: #827c7c;
						border-radius: 3px 3px 0 0;
						font-size: 13px;
						padding: 10px;
						position: relative;
						&:before {
							content: '';
							position: absolute;
							border-width: 8px 8px 8px 8px;
							border-style: solid solid solid solid;
							border-color: #EEE transparent transparent;
							top: 36px;
							left: 5px;
						}
					}
					.btn {
						background: #D83C3C;
						padding: 11px 0 8px 0;
						border-radius: 0 0 3px 3px;
						&:hover {
							background: #e54040;
						}
						a {
							color: #fff;
							text-transform: uppercase;
							text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
							font-size: 11px;
							font-weight: 600;
							padding: 10px 40px; // un peu nul...
						}
					}
				}
			}
		}
	} // top

	.rows {

		.left {
			float: left;
			width: 50%;
			vertical-align: top;
			box-sizing: border-box; // prevent padding to take width
			padding: 0 10px 0 0;

			#facets, #filter {
				background: #272829;
				h3 {
					background: rgb(39,40,41);
					color: #EEE;
					margin: 10px 0;
					padding: 4px 6px;
					font-weight: 100;
					font-size: 13px;
					position: relative;
					span {
						float: right;
						background: #D83C3C;
						padding: 0 15px 0 15px;
						border-radius: 0 0 0 3px;
						position: absolute;
						right: 0;
						top: 0;
						cursor: pointer;
						&:hover {
							background: #e54040;
						}						
					}
				}
				ul {
					padding: 7px;
					background: #EEE;
					border: 5px solid #272829;
					li {
						display: inline-block;
						padding: 5px 25px 0 0;
						position: relative;
						a {
							color: #000;
							&:hover {
								font-weight: 400;
							}
						}
						.count {
							font-size: 12px;
							position: absolute;
							top: 3px;
							right: 11px;
						}
					}
				}
			}

			#filter {
				ul {
					li {
						width: 100%;
						h4 {
							text-align: center;
							font-weight: 600;
							font-size: 12px;
						}
						.field {
							display: inline-block;
							input {
								vertical-align: middle;
								width: 20px;
							}
							p {
								display: inline-block;
								vertical-align: middle;
								padding: 0 10px 0 0;
							}
						}
					}
				}
			}

			.index {
				li.card {
					line-height: 24px;
					padding: 5px;
					&:hover {
						background: #eee;
					}
					.type {
						font-size: 12px;
						padding: 0 5px 0 0;
					}
					a {
						font-size: 14px;
						color: #000000;
						font-weight: 400;
						&:hover {
							font-weight: 600;
						}
					}
					i {
						font-size: 18px;
						vertical-align: middle;
						float: right;
						color: rgba(39,40,41,.6);
						padding: 0 2px;
						cursor: pointer;
						&:hover {
							color: rgba(39,40,41,1);
						}
					}
					.description {
						padding: 10px;
						box-shadow: 0 1px 1px rgba(0,0,0,.3);
						color: rgba(0,0,0,.9);
						i {
							float: left;
							padding: 0 10px 0 0;
							color: #CCC;
							cursor: auto;
							&:hover {
								color: auto;
							}
						}
					}
				}
				li.letter {
					background: #ff7777;
					padding: 0 0 0 10px; margin: 10px 0 10px 0;
				}				
			}
		}
		.right {
			float: right;
			width: 50%;
			vertical-align: top;
			#map {
				width: 100%;
				height: 600px;
			}
		}

		.clear {clear:both}
	}

} // end Cards