// Public form to create cards
#container.cards-form {

	.top {
		width: 100%;
		background: #272829;
		box-sizing: border-box;
		padding: 10px;
		position: relative;

		&:after, &:before {
			display: table;
			content: " ";
		}

		&:after {clear: both}

		h1 {
			color: #fff;
			font-family: "Raleway", Helvetica, sans-serif;
			font-weight: 200;
			font-size: 29px;
			line-height: 38px;
			font-smoothing: antialiased;
			-webkit-font-smoothing: antialiased;
		}
	} // top

	.wizard {
		text-align: center;
		.block {
			vertical-align: bottom;
			width: 300px;
			display: inline-block;
			padding: 20px;
			.label {
				padding: 20px;
				line-height: 20px;
				.num {
					background: #D83C3C;
					text-transform: uppercase;
					font-weight: 400;
					text-shadow:0 1px 1px rgba(0,0,0,0.5);
					color: #fff;
					padding: 1px 5px;
				}
				.b {
					text-transform: uppercase;
					font-weight: 400;
					background: #97B88C;
					text-shadow:0 -1px 1px rgba(0,0,0,0.5);
					color: #fff;
					padding: 1px 5px;
				}
			}
		}
	}

}