// Public form to create cards
@import 'partials/partial_top';

#container.cards-form {

	.top {
		@include top;
		h1 {
			@include h1;
		}
	} // top

	.wizard {
		text-align: center;
		.head {
			width: 100%;
			background: #272829;
			text-align: right;
			position: relative;
			margin-top: -15px;
			padding: 0 5px 0 0;
			input {
				width: initial;
				display: inline-block;
				border: none;
				background: none;
				color: #777;
				position: relative;
				z-index: 10;
				cursor: pointer;
				padding: 0 5px;
				&.current_step {color: #EEE}
			}
		}
		.error {
			margin: 0 0 20px 0;
			background: #f16264;
			.title {
				font-weight: bold;
			}
			& > * {padding: 5px}
		}
		.block {
			vertical-align: middle;
			width: 300px;
			display: inline-block;
			padding: 20px;
			.label {
				padding: 20px;
				line-height: 20px;
				.num {
					background: #D83C3C;
					text-transform: uppercase;
					font-weight: 400;
					text-shadow:0 1px 1px rgba(0,0,0,0.5);
					color: #fff;
					padding: 1px 5px;
				}
				.b {
					text-transform: uppercase;
					font-weight: 400;
					background: #97B88C;
					text-shadow:0 -1px 1px rgba(0,0,0,0.5);
					color: #fff;
					padding: 1px 5px;
				}
			}
			label {
				font-size: 11px;
				padding: 2px 0 0 8px;
				text-align: left;
			}

			&.team {
				width: initial;
				max-width: 750px;
				.fields {
					background: #EEE;
					padding: 5px;
					margin: 0 0 5px 0;
					&.contact {
						border: 3px solid #DDD;
						margin: 10px 0 10px 0;
					}
					.field {
						display: inline-block;
						width: 120px;
						input {
							height: 30px;
							border-radius: 5px;
						}
						a {
							color: #777;
							&:hover {
								font-weight: 500;
							}
						}
					}
				}
				button {
				}
			}

			&.map {
				position: relative;
				width: 100%;
				.map-panel {
					position: absolute;
					bottom: 42px;
					right: 24px;
					input {
						height: 20px;
						width: 50px;
						border-radius: 2px;
						&#address {
							width: 188px;
							border: 1px solid #76E;
							padding: 0 4px;
						}
						&#geocode-addr{
							background: #77E;
							border: none;
							color: #EEE;
							cursor: pointer;
						}
					}
				}
				#map-canvas {
					width: 100%;
					height: 300px;
					margin: auto;
					box-shadow: 4px 4px 0px rgba(151,184,140,1);
					border: 1px solid rgba(151,184,140,.5);
				}
			}			

		} // block

		.next, .final, .back {
			position: relative;
			width: 150px;
			display: inline-block;
		}
		.next input, .final input, .back input {
			width: 150px;
			margin: 50px 0 20px 0;
			line-height: 0;
			background: #D83C3C;
			border-radius: 0 0 3px 3px;
			border: 0;
			color: #fff;
			text-transform: uppercase;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
			font-size: 11px;
			font-weight: 600;
			cursor: pointer;
			&:hover {
				background: #e54040;
			}
		}
		.next input {padding: 0 12px 0 0px;}
		.final input {padding: 0 22px 0 0px;}
		.back input {padding: 0 0 0 14px;}
		.next:before {
			content: '';
			position: absolute;
			border-width: 5px 8px 5px 8px;
			border-style: solid solid solid solid;
			border-color: transparent transparent transparent #EEE;
			top: 65px;
			left: 134px;
			z-index: 10;
		}
		.final:before {
			content: '';
			position: absolute;
			border-width: 5px;
			border-style: solid;
			border-color: #EEE;
			border-radius: 6px;
			top: 65px;
			left: 126px;
			z-index: 10;
		}
		.back:before {
			content: '';
			position: absolute;
			border-width: 5px 8px 5px 8px;
			border-style: solid solid solid solid;
			border-color: transparent #EEE transparent transparent;
			top: 65px;
			left: 0px;
			z-index: 10;			
		}
		.clear{clear: both}

		.final-step {
			.text {
				padding: 30px;
				max-width: 700px;
				color: #333;
				text-align: left;
				i {
					padding: 7px 18px 10px 0;
					font-size: 50px;
					float: left;
					color: #EEE;
				}
			}
			input {
				width: 100%;
				background: #272829;
				height: 20px;
				margin: 10px 0;
				color: #EEE;
				border-radius: 0;
				border: 0;
				-webkit-font-smoothing: antialiased;
				cursor: pointer;
				&:hover {
					font-weight: 700;
					color: #D83C3C;
				}
			}			
			ul {
				li {
					max-width: 405px;
					margin: 10px auto;
					text-align: left;
					p {
						display: inline-block;
						width: 260px;
						vertical-align: top;
					}
					label {
						width: 140px;
						font-size: 12px;
						font-weight: 600;
						padding: 0;
						display: inline-block;
					}
				}
			}
			.send {
				padding: 30px 0;
				a {
					padding: 10px 30px;
					margin: 50px 0 20px 0;
					line-height: 0;
					background: #D83C3C;
					border-radius: 0 0 3px 3px;
					border: 0;
					color: #fff;
					text-transform: uppercase;
					text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
					font-size: 11px;
					font-weight: 600;
					cursor: pointer;
					&:hover {
						background: #e54040;
					}
				}
			}
		} // final steps

	} // wizzard

}