@import 'partials/partial_top';

@mixin info {
	padding: 24px 0 20px 14px;
	i {
		padding: 7px 0 10px 0;
		font-size: 50px;
		float: left;
		color: #EEE;
		width: 60px;
	}
}

#container.cards-show {
	.top {
		@include top;
		h1 {
			@include h1;
		}
	}

	.row {
		width: 100%;
		h3 {
			font-size: 15px;
			padding: 0 0 10px 0;
		}
		.left {
			float: left;
			width: 50%;
			vertical-align: top;
			padding: 20px;
		}
		.right {
			float: right;
			width: 50%;
			vertical-align: top;
			padding: 20px;
		}
		&.header {
			.left {
				width: 75%;
			}
			.right {
				width: 25%;
			}
		}
		&.title {
			text-align: center;
		}
	}

	.team {
		.resp {
			padding: 0 0 7px 0;
			.lastname {
				padding: 0 7px;
				color: #777;
			}
		}
	}

	.edit {
		background: #D83C3C;
		padding: 5px 10px;
		color: #fff;
		font-size: 12px;
		&:hover {
			background: #e54040;
		}
	}

	.graphics {
		&:hover button {
			display: block !important;
		}
		position: relative;
		img.banner {
			max-width: 100%;
		}
		img.logo {
			position: absolute;
			right: 40px;
			bottom: 40px;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
			border-radius: 2px;			
		}
		@mixin edit-graphic {
			position: absolute;
			.tools {
				position: absolute;
				z-index: 10;
				width: 130px;
				background: #fff;
				font-size: 12px;
				border-radius: 3px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.69);
				display: none;
				span {
					color: #777;
					padding: 0 5px 0 0;
				}
				ul {
					padding: 3px 0;
					li {
						padding: 2px;
						&:hover {
							background: rgb(255, 198, 94);
						}
						button {
							background: none;
							color: #000;
						}
					}
				}
				&:before {
					content: '';
			    position: absolute;
			    border-width: 0px 8px 8px 8px;
			    border-style: none solid solid solid;
			    border-color: transparent transparent #fff transparent;
			    top: -5px;
			    left: 3px;
				}
			}
		}
		@mixin btn-edit-graphic {
			background: rgba(18, 18, 18, 0.7);
			color: #fff;
			font-size: 12px;
			padding: 5px;
			display: none;
			&:hover {
				font-weight: bold;
			}
		}
		div.edit-banner {
			@include edit-graphic;
			top: 30px;
			left: 30px;
			button.edit-banner {
				@include btn-edit-graphic;
			}
		}
		div.edit-logo {
			@include edit-graphic;
			bottom: 50px;
			right: 50px;
			button.edit-logo {
				@include btn-edit-graphic;
			}
		}
	}

	.map-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		button {
			width: 100%;
			margin: 0;
			font-size: 12px;
		}
		.map-canvas-wrapper {
			height: 300px;
			#map-canvas {
				position: absolute;
				top: 20px;
				left: 0;
				right: 20px;
				bottom: 20px;
			}
		}
	}

	.description {
		@include info;
	}
	.location {
		@include info;
		.txt {
			overflow: hidden;
			.place {
				padding: 5px 0 0 0;
			}
		}
	}
	.contact {
		@include info;
		.aobfuscate { 
			unicode-bidi: bidi-override; 
			direction: rtl; 
			text-align: left;
		}
	}
	.website {
		@include info;
	}

	.networks, .members {
		ul {
			li {
				display: inline-block;
				padding: 0 0 13px 0;
				a {
					background: #D83C3C;
					padding: 5px 10px;
					color: #fff;
					font-size: 12px;
					&:hover {
						background: #e54040;
					}
				}
			}
		}
	}

}