@import 'partials/partial_top';

@mixin info {
	padding: 24px 0 20px 14px;
	i {
		padding: 7px 0 10px 0;
		font-size: 50px;
		float: left;
		color: #EEE;
		width: 60px;
	}
}

#container.cards-show {
	.top {
		@include top;
		h1 {
			@include h1;
		}
	}

	.row {
		width: 100%;
		.left {
			float: left;
			width: 50%;
			vertical-align: top;
			padding: 20px;
			.description {
				@include info;
			}
			.location {
				@include info;
				.txt {overflow: hidden}
			}
			.contact {
				@include info;
			}
			.website {
				@include info;
			}
		}
		.right {
			float: right;
			width: 50%;
			vertical-align: top;
			padding: 20px;
			#map-canvas {
				width: 100%;
				height: 200px;
			}
		}
	}

	.team {
		padding: 10px 0 20px 14px;
		h3 {
			font-size: 15px;
			padding: 0 0 10px 0;
		}
		.resp {
			padding: 0 0 7px 0;
			.lastname {
				padding: 0 7px;
				color: #777;
			}
		}
	}

}