@import 'partial_top';

#container.connexion {

	.top {
			@include top;
		h1 {
			@include h1;
		}
	} // top

	.field {
		width: 200px;
		margin: auto;
		label {
			width: 100%;
			padding: 10px 0 0px 17px;
			font-size: 12px;
		}
		input {
			height: 30px;
			border-radius: 7px;
			&.submit {
				line-height: 0;
				background: #D83C3C;
				border: 0;
				color: #fff;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
				font-size: 11px;
				cursor: pointer;
				-webkit-font-smoothing: antialiased;
				&:hover {
					background: #e54040;
				}
			}
		}
	}

}