@import 'partials/partial_top';

@mixin connexion {
		.field {
		width: 200px;
		margin: auto;
		label {
			width: 100%;
			padding: 10px 0 0px 17px;
			font-size: 12px;
		}
		input {
			height: 30px;
			border-radius: 7px;
			&.submit {
				line-height: 0;
				background: #D83C3C;
				border: 0;
				color: #fff;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
				font-size: 11px;
				cursor: pointer;
				-webkit-font-smoothing: antialiased;
				&:hover {
					background: #e54040;
				}
			}
			&[type="checkbox"] {
				margin: 0;
				border: initial;
			}
		}
	}
	.reset {
		width: 100%;
		text-align: center;
		padding: 10px 0 0 0;
		font-size: 12px;
	}
	.sign-in {
		font-size: 12px;
		text-align: center;
		padding: 10px 0 0 0;
	}
}

#container.connexion {

	.top {
			@include top;
		h1 {
			@include h1;
		}
	} // top
	@include connexion;

}

#login-over {
	display: none;
	position: fixed;
	width: 300px;
	height: 320px;
	overflow: auto;
	margin: auto;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 9999;
	color: #fff;
	background: rgba(0,0,0,.8);
	padding: 20px;
	border-radius: 5px;
	a {
		color: #D84418;
		font-weight: 500;
	}
	.sessions-error {
		font-size: 12px;
		position: fixed;
		left: 50%;
		top: 50%;
		margin: -186px -150px;
		background: rgba(255,0,0,0.62);
		padding: 3px;
		border-radius: 3px;
		max-width: 245px;
	}
	// Login animation
	&.wrong {
    border-color:#F00;
    -webkit-animation: shake .2s linear 2;
    -moz-animation: shake .2s linear 2;
    -o-animation: shake .2s linear 2;
    animation: shake .2s linear 2;
	}
	@include connexion;
}
#login-overlay {
	position: fixed;
	top: 0; bottom: 0; right: 0; left: 0;
	background: rgba(0,0,0,.7);
	z-index: 9998;
	display: none;
	p {
		color: #D84418;
		font-weight: 500;
		cursor: pointer;
		position: fixed;
		left: 50%;
		top: 50%;
		margin: -180px 0 0 100px;
	}
}

// Login animation
@-webkit-keyframes shake {
    from {
        left:0;
    }
    25% {
        left:-20px;
    }
    75% {
        left:+20px;
    }
    to {
        left:0;
    }
}
@-moz-keyframes shake {
    from {
        left:0;
    }
    25% {
        left:-20px;
    }
    75% {
        left:+20px;
    }
    to {
        left:0;
    }
}
@-o-keyframes shake {
    from {
        left:0;
    }
    25% {
        left:-20px;
    }
    75% {
        left:+20px;
    }
    to {
        left:0;
    }
}
@keyframes shake {
    from {
        left:0;
    }
    25% {
        left:-20px;
    }
    75% {
        left:+20px;
    }
    to {
        left:0;
    }
}