#home {

	.intro {
		width: 600px;
		color: #777;
		margin: auto;
		.left {
			display: inline-block;
			width: 279px;
			vertical-align: top;
			padding: 0 10px;
		}
		.right {
			display: inline-block;
			width: 278px;
			vertical-align: top;
			padding: 0 10px;
		}
	}

}