#container.home {

	.intro {
		color: #777;
		text-align: center;
		.left {
			display: inline-block;
			width: 279px;
			vertical-align: top;
			padding: 10px 10px;
			text-align: justify;
		}
		.right {
			display: inline-block;
			width: 278px;
			vertical-align: top;
			padding: 10px 10px;
			text-align: justify;
		}
	}

	#map {
		position: absolute;
		left:0;
		width: 100%; height: 600px;
	}

	#clear_map {
		height: 610px;
	}

}