@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

html body
{
	font: normal 15px/17px 'Ubuntu', tahoma;
	height: 2000px;
}

a
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

label
{
  display: block;
  width: 150px;
  float: left;
}

#container {

	width: 1200px;
	margin: 10px auto;

}