@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Jura:400,300);

html body
{
	font: 300 15px/17px 'Ubuntu', tahoma;
	height: 2000px;
}

a
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

label
{
  display: block;
  width: 150px;
  float: left;
}

#container {

	width: 80%;
	margin: 10px auto;
	padding: 10px;

}

h2 
{
	text-align: center;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-size: 30px;
	padding: 30px;
	font: normal 36px 'jura', tahoma;
	text-shadow: 1px 0px 1px #999;
}