@import 'partial_top';

#container.about {
	.top {
		@include top;
		h1 {
			@include h1;
		}
	}

	.intro {
		padding: 20px;
		font-size: 14px;
		max-width: 700px;
		margin: auto;
		img {
			float: left;
			width: 160px;
			padding: 9px;
		}
		p {
			padding: 24px 0 0 0;
		}
	}

	.clear {
		clear: both;
	}

	.block {
		max-width: 700px;
		margin: auto;

		h2 {
			padding: 40px 0 10px 0;
			font-family: "Raleway", Helvetica, sans-serif;
			font-weight: 200;
		}
		ul {
			text-align: center;
		}

		i {
			float: left;
			font-size: 50px;
			padding: 20px;
			color: #EEE;
		}

		p {
			overflow: hidden;
		}

		&.team {
			.member {
				display: inline-block;
				img {
					width: 100px;
					float: left;
					vertical-align: middle;
					padding: 10px;
				}
				.infos {
					text-align: left;
					padding: 20px;
					overflow: auto;
					.name {
						font-weight: 400;
					}
					ul {
						padding: 10px 0 0 0;
						li {
							text-align: left;
							.field {
								font-size: 12px;
								font-weight: bold;
								padding: 0 3px 0 0;
							}
						}
					}
				}
			}
		} // team
	} // block
}