/* http://getbootstrap.com/css/#responsive-utilities */
/* Very Large devices */
@media (max-width: 1435px)
{
	// Banner
	#banner {
		min-height: 400px !important;
	}
} 
/* Large devices */
@media (max-width: 1200px) 
{
	// Bannner
	#banner {
		min-height: 360px !important;
		.content_banner {
			padding: 0 0 5px 0 !important;
			.block {
				width: 280px !important;
				.btn {
					padding: 0 !important;
					p {
						padding: 6px !important;
						border-radius: 0 0 4px 4px !important;
						font-size: 12px !important;
						width: 100% !important;
						text-align: center !important;
					}
				}
			}
		}
	}

	// Cards
	#container.cards {
		.rows {
			.left {
				padding: 0;
			}
			.left, .right {
				width: 100%;
			}
		}
	}

	// Orator index
	#container.orators {
		.rows {
			.left {
				padding: 0;
			}
			.left, .right {
				width: 100%;
			}
		}
	}

	// Ressources
	#container.resources {
		.new {
			.split4 {
				width: 50%;
			}
		}
	}

	// Admin
	#admin {
		#admin_header {
			width: 100%;
			ul {
				li {
					display: inline-block;
					a {
						span {
							padding: 0 0 0 5px;
						}
					}
				}
			}
		}
		#admin_content {
			overflow-x: initial;
			h2 {
				font-size: 20px;
				text-align: left;
			}
			.col.split2 {
				width: 100%;
			}
		}
	}
}

/* Medium devices */
@media (max-width: 992px) 
{
	// Banner
	#banner {
		min-height: 300px !important;
	}

	// home
	#container.home {
		.new {
			.left, .right {
				width: 100%;
			}
		}
	}

	//Cards
	#container.cards {
		.top {
			.right {
				width: 50%;
				li.hder {
					width: 100%;
					padding: 0 0 10px 0;
					.infos {
						width: 100%;
					}			
				}
				li.marketing {
					width: 100%;
					padding: 0;
				}
			}
		}
	}

	// Orator index
	#container.orators {
		.top {
			.right {
				width: 50%;
				li.hder {
					width: 100%;
					padding: 0 0 10px 0;
					.infos {
						width: 100%;
					}			
				}
				li.marketing {
					width: 100%;
					padding: 0;
				}
			}
		}
	}

}

/* Small devices */
@media (max-width: 768px) 
{
	// Banner
	#banner {
		min-height: 200px !important;
		.content_banner {
			.block {
				width: 100% !important;
				.content {
					padding: 0 !important;
				}
				.btn {
					p {
						width: 115px !important;
					}
				}
			}
		}
	}

	// Global
	header {
		width: 100%;
		.logo {
			width: 100%;
		}
	}
	#shapes {display:none}

	// container
	#container {
		width: 100%;
	}

	//Home & //Ressources
	#container.home, #container.resources {
		.new {
			.split4 {
				width: 100%;
			}
			.title {
				.wrapper {
					h2 {
						width: 100%;
					}
					span {
						width: 100%;
					}
				}
			}
			.block {
				.wrapper {
					.graphic {
					}
					.text {
						width: 100%;
					}
				}
			}
		}
	}

	//Cards
	#container.cards {
		.top {
			.left {
				float: none;
				width: 100%;
				padding: 0;
				.search {
					position: initial;
					.form {
						width: 100%;
						input {
							width: 80%;
						}
						button {
							width: 20%;
						}
					}
				}
			}			
			.right {
				padding: 0 0 25px 0;
				float: none;
				width: 100%;
			}
		}
	}

	// card show
	#container.cards-show {
		.row {
			.left, .right {width: 100%}
		}
	}

	// Orator index
	#container.orators {
		.top {
			.left {
				float: none;
				width: 100%;
				padding: 0;
				.search {
					position: initial;
					.form {
						width: 100%;
						input {
							width: 80%;
						}
						button {
							width: 20%;
						}
					}
				}
			}			
			.right {
				padding: 0 0 25px 0;
				float: none;
				width: 100%;
			}
		}
	}

	// Footer
	footer {
		.img {
			padding: 0;
		}
		.block {
			padding: 5px 0 0 0;
			width: 100% !important;
			text-align: center;
		}
	}

}

/* For home mapbox */
@media (max-height: 600px)
{
	#container.home .map {
		#map {
			position: relative;
			width: 90%;
			margin: auto;
		}
		#clear_map {
			display: none;
		}
	}
}