/* http://getbootstrap.com/css/#responsive-utilities */
/* Large devices */
@media (max-width: 1200px) 
{
	// Cards
	#container.cards {
		.rows {
			.left {
				padding: 0;
			}
			.left, .right {
				width: 100%;
			}
		}
	}

	// Admin
	#admin {
		#admin_content {
			h2 {
				font-size: 20px;
				text-align: left;
			}
			.col.split2 {
				width: 100%;
			}
		}
	}
}

/* Medium devices */
@media (max-width: 992px) 
{

}

/* Small devices */
@media (max-width: 768px) {}