/* http://getbootstrap.com/css/#responsive-utilities */
/* Very Large devices */
@media (max-width: 1435px)
{
	// Banner
	#banner {
		min-height: 400px !important;
	}
	// Home
	#banner.home {
		.video {
			height: 350px !important;
			padding: 25px 0 20px 10px;
		}
	}
} 
/* Large devices */
@media (max-width: 1200px) 
{
	// Resources Bannner
	#banner.resources {
		min-height: 360px !important;
		.content_banner {
			padding: 0 0 5px 0 !important;
			.block {
				width: 280px !important;
				.content {
					height: 140px;
				}
				.btn {
					padding: 0 !important;
					p {
						padding: 6px !important;
						border-radius: 0 0 4px 4px !important;
						font-size: 12px !important;
						width: 100% !important;
						text-align: center !important;
					}
				}
			}
		}
	}

	// Home
	#banner.home {
		.content_banner {
			width: 992px !important;
			.marketing {
				width: 450px !important;
			}
			.video {
				width: 542px !important;
			}
		}
	}

	// Cards
	#container.cards {
		.rows {
			.left {
				padding: 0;
			}
			.left, .right {
				width: 100%;
			}
		}
	}

	// Orator index
	#container.orators {
		.rows {
			.left {
				padding: 0;
			}
			.left, .right {
				width: 100%;
			}
		}
	}

	// Ressources
	#container.resources {
		.new {
			.split4 {
				width: 50%;
			}
			.block {
				padding: 5px !important;
			}
		}
	}

	// Admin
	#admin {
		#admin_header {
			display: none;
			position: absolute;
			z-index: 10;
			box-shadow: 0px 0px 60px #000;
		}
		#admin_top_header {
			.slide {
				display: block;
			}
		}
		#admin_content {
			overflow-x: initial;
			h2 {
				font-size: 20px;
				text-align: left;
			}
			.col.split2 {
				width: 100%;
			}
			.col {
				float: none;
			}
		}
	}
}

/* Medium devices */
@media (max-width: 992px) 
{
	// Banner
	#banner {
		min-height: 300px !important;
	}

	// home
	#banner.home {
		.content_banner {
			width: 768px !important;
			.marketing {
				width: 400px !important;
				padding: 10px 10px 0 0 !important;
			}
			.video {
				width: 368px !important;
				padding: 10px 0 0 10px;
				height: 300px !important;
			}
		}
	}
	#container.home {
		.new {
			.left, .right {
				width: 100%;
				padding: 5px 0 0 0;
			}
		}
	}

	//Cards
	#container.cards {
		.top {
			.right {
				width: 50%;
				li.hder {
					width: 100%;
					padding: 0 0 10px 0;
					.infos {
						width: 100%;
					}			
				}
				li.marketing {
					width: 100%;
					padding: 0;
				}
			}
		}
	}

	// Orator index
	#container.orators {
		.top {
			.right {
				width: 50%;
				li.hder {
					width: 100%;
					padding: 0 0 10px 0;
					.infos {
						width: 100%;
					}			
				}
				li.marketing {
					width: 100%;
					padding: 0;
				}
			}
		}
	}

	// Ressource page
	#container.resources {
		.new {
			.block {
				padding: 5px !important;
			}
		}
	}

	// Partial search-top
	#_search-top {
		.right {
			width: 50% !important;
			li.hder {
				width: 100% !important;
				padding: 0 0 10px 0 !important;
				.infos {
					width: 100% !important;
				}			
			}
			li.marketing {
				width: 100% !important;
				padding: 0 !important;
			}
		}
	}

}

/* Small devices */
@media (max-width: 768px) 
{

	// Home
	#banner.home {
		min-height: 500px !important; // For video
		.content_banner {
			width: 100% !important;
			.marketing {
				width: 100% !important;
				padding: 10px !important;
			}
			.video {
				width: 100% !important;
				padding: 10px !important;
			}
		}
	}

	// Global
	header {
		width: 100%;
		.logo {
			width: 100%;
		}
	}
	#shapes {display:none}

	// container
	#container {
		width: 100%;
	}

	//Home & //Ressources
	#container.home, #container.resources {
		.new {
			.split4 {
				width: 100%;
			}
			.title {
				.wrapper {
					h2 {
						width: 100%;
					}
					span {
						width: 100%;
					}
				}
			}
			.block {
				.wrapper {
					.graphic {
					}
					.text {
						width: 100%;
					}
				}
			}
		}
	}

	// Home
	#container.home {
		.map,.new {
			.title {
				.wrapper {
					h2 {
						width: 80%; // Avoid collision with the link
					}
					span {
						width: 100%;
						padding: 10px;
					}
				}
			}
		}
	}

	//Cards
	#container.cards {
		.top {
			.left {
				float: none;
				width: 100%;
				padding: 0;
				.search {
					position: initial;
					.form {
						width: 100%;
						input {
							width: 80%;
						}
						button {
							width: 20%;
						}
					}
				}
			}			
			.right {
				padding: 0 0 25px 0;
				float: none;
				width: 100%;
			}
		}
	}

	// card show
	#container.cards-show {
		.row {
			.left, .right {width: 100%}
		}
	}

	// Orator index
	#container.orators {
		.top {
			.left {
				float: none;
				width: 100%;
				padding: 0;
				.search {
					position: initial;
					.form {
						width: 100%;
						input {
							width: 80%;
						}
						button {
							width: 20%;
						}
					}
				}
			}			
			.right {
				padding: 0 0 25px 0;
				float: none;
				width: 100%;
			}
		}
	}

	// Partial search-top
	#_search-top {
		.left {
			float: none !important;
			width: 100% !important;
			padding: 0 !important;
			.search {
				position: initial !important;
				.form {
					width: 100% !important;
					input {
						width: 80% !important;
					}
					button {
						width: 20% !important;
					}
				}
			}
		}			
		.right {
			padding: 0 0 25px 0 !important; 
			float: none !important;
			width: 100% !important;
		}
	}

	// Footer
	footer {
		.img {
			padding: 0;
		}
		.a, .b {
			padding: 5px 0 0 0 !important;
			width: 100% !important;
			text-align: center;
		}
	}

}

/* For home mapbox */
@media (max-height: 600px)
{
	#container.home .map {
		#map {
			position: relative;
			width: 90%;
			margin: auto;
		}
		#clear_map {
			display: none;
		}
	}
}