@import 'partials/search_top';

#container.subjects {
	
	//
	// Top search partial
	//
	@include search-top; 

	#filter {
		background: #272829;
		h3 {
			background: rgb(39,40,41);
			color: #EEE;
			margin: 10px 0;
			padding: 4px 6px;
			font-weight: 100;
			font-size: 13px;
			position: relative;
			span {
				float: right;
				background: #D83C3C;
				padding: 0 15px 0 15px;
				border-radius: 0 0 0 3px;
				position: absolute;
				right: 0;
				top: 0;
				cursor: pointer;
				&:hover {
					background: #e54040;
				}						
			}
		}
		ul {
			padding: 7px;
			background: #EEE;
			border: 5px solid #272829;
			li {
				display: inline-block;
				padding: 5px 25px 0 0;
				position: relative;
				width: 100%;
				h4 {
					text-align: center;
					font-weight: 600;
					font-size: 12px;							
				}
				.field {
					display: inline-block;
					font-size: 13px;
					&>* {
						width: initial;
						display: inline-block;
						vertical-align: middle;
					}
					label {
						width: 123px;
					}
					input {
						margin: -4px 0 0 0;
					}
				}
			}
		}
	} // filter

	.results {
		ul {
			li {
				padding: 10px;
				box-shadow: 1px 1px 1px #EEE;
				display: inline-block;
				width: 33.333%;
				h3 {
					font: 300 22px 'jura', tahoma
				}
				.description {
					img {
						float: left;
						padding: 0 10px 10px 0;
						width: 64px;
					}
					p {
						padding: 10px;
					}
					p.themes {
						font-size: 12px;
						.theme {
							margin: 2px 0 0 0;
							-webkit-font-smoothing: antialiased;
							font-weight: 400;
							font-size: 12px;
							display: inline-block;
							text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
							background-color: #B3B3B3;

							background-repeat: repeat-x;
							border-radius: 3px;
							box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
							padding: 2px 6px;
							color: #ffffff;
						}
					}
				}
				.infos {
					text-align: center;
					width: 100%;
					.txt {
						background: #EEE;
						color: #827c7c;
						font-size: 11px;
						padding: 3px;
						float: left;
						width: 70%;
						border-radius: 3px 0 0 3px;
					}
					.link {
						float: right;
						width: 30%;
						a {
							font-size: 11px;
							display: block;
							height: 100%;
							overflow: visible;
							position: relative;
							border: 0;
							padding: 3px 0;
							cursor: pointer;
							color: white;
							text-transform: uppercase;
							background: #D83C3C;
							border-radius: 0 3px 3px 0;
							text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
					
							&:hover {
								background: #e54040;
							}
							&:active,
							&:focus {
								background: #c42f2f;
				 			  outline: 0; 
							}
							&:before {
								content: '';
						    position: absolute;
						    border-width: 11px 8px 11px 0;
						    border-style: solid solid solid none;
						    border-color: transparent #d83c3c transparent;
						    top: 0px;
						    left: -8px;
							}
							&:hover:before {
								border-right-color: #e54040;
							}
							&:active:before,
							&:focus:before {
								border-color: transparent #c42f2f transparent;
							}
						}
					}
				}
			}
		}
		} // .result
}