<!-- As the app ask the user to sign in to access the resources. -->
<div class="title">
	<h3>Pour accéder aux ressources vous devez vous connectez</h3>
	<p>L'accès aux ressources est réservé aux leaders jeunesses. Si c'est votre cas vous avez deux options :</p>
</div>
<ul>
	<li>
		Dans le cas ou votre groupe, oeuvre ou réseau n'est pas enregistré vous pouvez le faire <%= link_to 'ici', new_card_path %>. Ceci vous donnera droit à un compte validé.
	</li>
	<li>
		Si vous êtes un responsable/co-responsable et que votre groupe, oeuvre ou réseau est déjà enregistré, vous pouvez <%= link_to 'créer un compte', inscription_path %> et <%= link_to 'lier votre compte', user_my_cards_path %> à votre groupe, oeuvre ou réseau.
	</li>
</ul>