<div class="title">
	<h3>Votre compte n'a pas accès aux ressources</h3>
	<p>L'accès aux ressources est réservé aux leaders jeunesses. Si c'est votre cas vous avez deux options :</p>
</div>
<ul>
	<li>
		Dans le cas ou votre groupe, oeuvre ou réseau n'est pas enregistré vous pouvez le faire <%= link_to 'ici', new_card_wizard_path %> avec la même addresse email. Ceci vous donnera droit à un compte validé.
	</li>
	<li>
		Si vous êtes un responsable/co-responsable et que votre groupe, oeuvre ou réseau est déjà enregistré, il vous suffit simplement d'aller sur <%= link_to 'votre profil', user_my_cards_path %> et de vous lier à votre groupe, oeuvre ou réseau.
	</li>
</ul>