<h1>Newsletter</h1>

<%= form_tag admin_newsletters_path do %>

	<ul>
		<li><%= text_field_tag :subject, nil, placeholder: "Sujet" %></li>

		<li><%= text_area_tag :content, nil, class: "inline" %></li>

		<li><%= submit_tag "Envoyer", data: {confirm: "Confirmez-vous l'envoi de cette newsletter ?"} %></li>
	</ul>

<% end %>
