<ul>
  <li>
    <h4>Cantons</h4>  
  <li>
    <% Canton.all.each do |canton| %>
    	<div class="field">
				<%= label_tag "canton_#{canton.id}", canton.name %>
				<%= check_box_tag "canton_ids[]", canton.id, false, { id: "canton_#{canton.id}" } %>
			</div>
		<% end %>
  </li>
</ul>