<ul>
  <li>
    <h4>Cantons</h4>  
  <li>
    <% Canton.all.each do |canton| %>
      <% if accepted_canton.include?(canton.abbreviation) %>
      	<div class="field">
  				<%= check_box_tag "canton_ids[]", canton.id, false, { id: "canton_#{canton.id}" } %>
          <%= label_tag "canton_#{canton.id}", canton.name %>
  			</div>
      <% end %>
		<% end %>
  </li>
</ul>