<ul>
  <li>
    <h4>Cantons</h4>  
  <li>
    <% Canton.all.each do |canton| %>
      <% if accepted_canton.include?(canton.abbreviation) %>
      	<div class="field">
          <input id='<%= "canton_#{canton.id}" %>' type="checkbox" checklist-change="search()"
            checklist-model="search.cantons" checklist-value="<%= canton.id %>">
          <label for='<%= "canton_#{canton.id}" %>'><%= canton.name %></label>
  			</div>
      <% end %>
		<% end %>
  </li>
</ul>