
<div data-controller="popup">

  <span data-action="click->popup#display">
    <%= yield %>
  </span>

  <div class="standard-popup" data-target="popup.content">
    <div class="content">
      <p>Êtes-vous sûr de vouloir <%= action_text %> ?</p>
      
      <div class="buttons">
        <button class="cancel" data-action="popup#close">Annuler</button>
        <%= link_to "Confirmer", url, class: "confirm", **args %>
      </div>
    </div>
  </div>
</div>