<%= javascript_include_tag "map/a_mapbox_v1.5.2.js" %>
<%= javascript_include_tag "map/b_leaflet.markercluster.js" %>

<div id='map'></div>

<script type="text/javascript">
var addressPoints = [
  [46.205431, 6.144276, 'a'],
  [46.39241, 6.92413, 'a'],
  [46.51541, 6.59454, 'a'],
  [46.52093, 6.58746, 'a'],
  [46.53026, 6.55605, 'a'],
  [46.94189, 6.57545, 'a'],
  [46.55189, 6.57145, 'a'],
  [46.54689, 6.58545, 'a'],
  [46.56189, 6.52645, 'a'],
  [46.54389, 6.59245, 'a'],
  [46.78189, 6.51245, 'a'],
  [46.73989, 6.59645, 'a'],
  [46.71389, 6.82245, 'a'],
  [46.73389, 6.62245, 'a'],
  [46.74389, 6.92245, 'a'],
  [46.65389, 6.99945, 'a'],
  [46.64389, 6.91945, 'a'],
  [46.209062, 7.426758, 'a'],
  [46.027184, 7.157593, 'a'],
  [46.488643, 7.591553, 'a'],
  [46.579336, 7.668457, 'a'],
  [46.705675, 6.904907, 'a'],
  [46.803526, 7.154846, 'a'],
  [46.824202, 6.913147, 'a'],
  [46.308699, 7.989807, 'a'],
  [46.441347, 6.907654, 'a'],
  [47.120315, 7.245483, 'a'],
  [46.509440, 6.873322, 'a'],
  [46.456486, 6.852722, 'a'],
  [46.510385, 6.643982, 'a'],
  [46.520780, 6.488800, 'a'],
  [46.189041, 6.038361, 'a'],
  [46.584999, 6.631622, 'a'],
  [46.532119, 6.601410, 'a'],
  [46.562342, 6.637115, 'a'],
  [46.464054, 6.293793, 'a'],
  [46.541565, 6.497040, 'a'],
  [46.632170, 6.727753, 'a'],
];

/*
*   Set view of Leaflet map based on screen size
*/
if ($(window).width() < 626) {
        var map = L.mapbox.map('map', 'nkcr.gjhi4d72').setView([46.6221, 7.1960], 8);
} else {
        var map = L.mapbox.map('map', 'nkcr.gjhi4d72', {fullscreenControl: true}).setView([46.6221, 7.1960], 9);
}
/*
*   create markercluster
*/
var markers = new L.MarkerClusterGroup({
  maxClusterRadius: 30,
});
/*
*   Add points
*/
for (var i = 0; i < addressPoints.length; i++) {
  var a = addressPoints[i];
  var title = a[2];
  var marker = L.marker(new L.LatLng(a[0], a[1]), {
  	icon: L.icon({
      iconUrl: '/assets/map/images/marker-icon-red.png',
      iconRetinaUrl: 'my-icon@2x.png',
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [-3, -76],
      shadowUrl: '/assets/map/images/marker-shadow.png',
      shadowRetinaUrl: 'my-icon-shadow@2x.png',
      shadowSize: [41, 41],
      shadowAnchor: [12, 41]
    }),
    title: title,
    riseOnHover: true,
  });
  marker.bindPopup(title);
  markers.addLayer(marker);
}
/*
*   Custom map
*/
markers.on('mouseover', function(e) {
    e.layer.openPopup();
});
markers.on('mouseout', function(e) {
    e.layer.closePopup();
});
map.scrollWheelZoom.disable();
map.addControl(L.mapbox.shareControl())
map.addControl(L.mapbox.geocoderControl('examples.map-9ijuk24y'))
map.addLayer(markers);
</script>