<div class="table_buttons">
	<a class="add" href="<%= request.fullpath + '/new' %>">Ajouter</a>
	<a class="edit off">Editer</a>
	<a class="edit on" href="#">Editer</a>
	<a class="delete off">Supprimer</a>
	<a class="delete on" href="#" data-method="delete" rel="nofollow" data-confirm="Etes-vous sûr de vouloir supprimer cette entrée ?">Supprimer</a>
</div>