<% if current_permission.allow_modify?(params[:controller], "destroy") %>
  <a class="delete" href="#" data-method="delete" rel="nofollow" data-confirm="Etes-vous sûr de vouloir supprimer cette entrée ?">Supprimer</a>
<% end %> 