<% to_layout("Votre enregistrement sur réseau jeunesse", "Vous avez complété avec succès votre enregistrement en tant qu'orateur") %>

<p>Bonjour <%= @name %>,</p>
<p>Le comité ResJ est heureux de pouvoir compter sur vous pour investir dans la jeunesse chrétienne de suisse-romande. Nous sommes convaicus que vos talents d'orateur seront apréciés.<br>
  Si vous avez la moindre remarque ou question, n'hésitez pas à nous en faire part en répondant à cet email.</p>
<p><a href="https://reseaujeunesse.ch/profile">https://reseaujeunesse.ch/profile</a></p>
<p>A bientôt sur le réseau !</p>
