@import "../../../global/variables.scss";

.container-cards-wizards {
  max-width: $content-width;
  padding: 0 $content-padding;
  margin: auto;

  div.map-location {
    p.label {
      padding: 10px 0 0px 0;
    }

    p.hint {
      font-weight: normal;
      font-size: 12px;
      padding: 0 0 3px 0;
      color: #999999;
    }

    details {
      font-size: 12px;
      color: #999999;

      input {
        color: #999999;
        padding: 3px;
      }
    }

    #mapbox {
      width: 100%;
      height: 300px;
    }
  }

  div.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;

    button {
      margin: 5px;
    }
  }

  @media only screen and (max-width: $mobile-width) {
    padding: 0;

    form {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
    }

    div.intro {
      padding-bottom: 40px !important;
    }

    div.buttons {
      flex-direction: column;
    }
  }
}
