// TODO: placed here by khcr for the wizard

.step {
  display: none;
}

.step.current {
  display: block;
}

.nav {
  display: none;
}

.nav.current {
  display: inline;
}

// TODO: for the test suit to pass
.nav {
  margin-top: 150px;
}