#container.cards-edit {
  & > .container {
    .step {
      display: none;
    }

    .step.current {
      display: block;
    }

    .nav {
      display: none;
    }

    .nav.current {
      display: inline;
    }

    // TODO: for the test suit to pass
    form .nav {
      margin-top: 150px;
    }

    #mapbox {
      width: 100%;
      max-width: 600px;
      height: 300px;
      margin: auto;
    }
    .marker {
      background-image: url("mapbox-icon.png");
      background-color: red;
      background-size: cover;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
