<div data-controller="popup">
  <div class="standard-popup active" data-popup-target="content">
    <div class="content">
      
      <p>Merci d'avoir confirmé ton groupe. Aucune autre action de ta part n'est nécessaire.</p>

      <div class="buttons">
        <button class="cancel" type="button" data-action="popup#close">Fermer</button>
      </div>
    </div>
  </div>
</div>