<div data-controller="popup">
  <div class="standard-popup active" data-popup-target="content">
    <div class="content">
      
      <p>Merci de vérifier (et mettre à jour si nécessaire) les informations de ton groupe.</p>
      <p>Quand tu as fini, clique sur le bouton <b>"Sauvegarder et mettre à jour"</b>, même si tu n'a fait aucun changement.</p>

      <div class="buttons">
        <button class="cancel" type="button" data-action="popup#close">Fermer</button>
      </div>
    </div>
  </div>
</div>
