<div id="application-footer">
  <div class="content-wrap">
    <div>
      <p class="title">contact</p>
      <p>info@resj.ch</p>
      <p>
        Mention: Réseau Jeunesse<br>
        Réseau évangélique Suisse (RES)<br>
        Case postale 23<br>
        1211 Genève
      </p>
    </div>

    <div>
      <p class="title">Réseaux Sociaux</p>
      <div class="social">
        <%= image_tag "layout/social-media-fb" %>
        <%= image_tag "layout/social-media-twitter" %>
        <%= image_tag "layout/social-media-insta" %>
      </div>
      <p><a href="#">Mentions légales</a></p>
    </div>

    <div>
      <%= image_tag "layout/logo-res" %>
    </div>
  </div>
</div>

<div id="application-footer-second">
  <p>Réalisation par Noémien & Keran Kocher - <a href="#">GitHub</a></p>
  <p>WebDesign par <a href="#">Cosycon</a></p>
</div>