<div id="application-header">
  <div class="wrapper">
    <div class="left">
      <%= link_to image_tag("layout/logo.png"), "/" %>
    </div>
    <div class="right">
      <a href="/#trouver_un_groupe" class="group">Trouver un groupe ?</a>
      <a href="/#trouver_un_orateur" class="orator">Trouver un orateur ?</a>
      <a href="/resj" class="second">A propos</a>
      <a href="/faq" class="second">FAQ</a>

      <% if signed_in? %>
      <%= link_to "Mon profil", profile_path, class: "second" %>
      <% else %>
      <a href="/signin" class="second">Connexion</a>
      <% end %>
    </div>
  </div>
</div>