<div id="application-header">
  <div class="wrapper">
    <div class="left">
      <%= link_to image_tag("layout/logo.png"), "/" %>
    </div>
    <div class="right">
      <a href="#" class="group">Trouver un groupe ?</a>
      <a href="#" class="orator">Trouver un orateur ?</a>
      <a href="#" class="second">A propos</a>
      <a href="#" class="second">FAQ</a>
      <a href="#" class="second">Mon compte</a>
    </div>
  </div>
</div>