<div id="application-header">
  <div class="wrapper">
    <div class="left">
      <%= link_to image_tag("layout/logo.png"), "/" %>
    </div>
    <div class="right">
      <a href="/">accueil</a>
      <a href="#">vision</a>
      <a href="#">contact</a>
      <a href="#">FAQ</a>
    </div>
  </div>
</div>