<header>
	<div class="logo"></div>
	<nav>
			<ul>
				<li><%= link_to t('application.header.home'), root_path %></li>
				<li><%= link_to t('application.header.network'), network_path %></li>
				<li><%= link_to t('application.header.profile'), profile_path %></li>
			</ul>
	</nav>
</header>