<% if current_user.nil? %>
	<li class="profil"><%= link_to "Login", connexion_path, remote: true %></li>
<% else %>
	<li class="profil"><%= link_to current_user.full_name, profile_path unless current_user.nil? %></li>
<% end %>